/**
 * Styles for Pepe
 */
html,
body { height: 100%; }

body {
  background-color: hsl(210, 33%, 99%);
}

.landing-nav { text-align: center; }

.page-hero a {
  color: hsl(204, 70%, 53%);
  padding-bottom: 2px;
  border-bottom: 2px dotted;  
}

.page-hero a:hover,
.page-hero a:active,
.page-hero a:focus {
  text-decoration: none;
  color: hsl(204, 70%, 65%);
}

.page-hero a:visited { 
  color: hsl(204, 70%, 33%); 
}

.page-hero { margin-top: 50px;  }

#Pepe {
  width: 558px;
  margin: 25px auto;
  margin-bottom: 0px;
}

#PepeCanvasInner { width: 100%; height: 100%; }

#PepeCanvasBackground {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  cursor: all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;  
}

#PepeCanvasBackground:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

#PepeCanvasText {
  position: absolute;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  background-color: hsla(201, 65%, 11%,1);
  color: white;
  z-index: 2;
}

#PepeChangeBackgroundImage {
  margin-bottom: 3px;
}

#PepeChangeBackgroundImage:hover {
  opacity: 1;
}

.is--invisible {
  font-size: .000001rem;
  float: left;
}

#PepeChangeBackgroundImage:hover .is--invisible {
  font-size: 1.412rem;
  float: none;
  margin-left: 3px;
  bottom: 1px;
}


.pepe-canvas-container {
  width: 100%;
  height: 292px;
  border: 1px solid gainsboro;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.pepe-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pepe-form {
  padding: 30px;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}

.pepe-form .form-content {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.pepe-form .form-group {
  width: 100%;
}

.pepe-form .form-group:not(:first-child) {
  margin-top: 10px;
}

.pepe-form .form-control {
  bottom: 1px;
  min-width: 300px;
  border: 0;
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 3px;
  font-size: 1.818rem;
  border-bottom: 1px solid hsl(0, 0%, 75%);
  border-radius: 0;
  padding-left: 5px; 
  background-color: transparent;
}

.pepe-form .input-full {
  width: 100%;
  padding: 5px;
  border: 1px solid gainsboro;
}

.pepe-controls {
  padding: 25px;
  border: 1px solid gainsboro;
  border-radius: 0 0 4px 4px;
}

.is--separator {
  border-top: 1px solid gainsboro;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-bold { font-weight: 700; }