@charset 'UTF-8';

/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
|
| All base stylings reside in here. This will be all the major
| elements such as body, html, typography and similar stuff.
| More specialized components will be moved to Components.
|
*/

body {
  background-color: palette(gray);
  color: palette(black);
  font-family: font(sans);
  font-weight: 400;

  > header { // the global header
    padding: $main_padding * 2;
    padding-bottom: 75px;
    background-color: palette(green);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: palette(white);
    z-index: 1;


    // Acts as an overlaying shadow on top of the
    // background image.
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: palette(overlay);
      content: '';
    }

    &.has-no-negative-margin {
      margin-bottom: 10rem !important;
    }


    &.page--header {
      min-height: 15rem;
      background: palette(green);

      &.has--masthead {
        padding: 0;
        padding-bottom: 100px;

        @media screen and (max-width: $tablets) {
          padding-bottom: 10px;
        }

        @media screen and (max-width: $smartphones) {
          padding-bottom: 10px;
        }
      }

      .page-masthead-image {
        position: relative;
        min-height: 400px;
        margin-bottom: 4.5rem;
        overflow: hidden;

        @media screen and (max-width: $smartphones) {
          min-height: 40vmin;
        }

        .img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          text-align: center;
          overflow: hidden;
          z-index: 1;

          .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: $s__baseline;
            background-color: palette(overlay, dark);
            z-index: 10;

            .caption__content {
              display: block;
              right: 0;
              left: 0;
              max-width: 35rem;
              margin: 0 auto;
            }
          }
        }
      }

      &::before {
        display: none;
      }

      + .pitch.pitch--paper::after {
        display: none;
      }
    }
  }

  &.logged-in > header.app-header,
  &.application > header {
    margin-bottom: 0 !important;
    padding: 40px 40px 60px;
    transition: transform transition(ease);
    background-image: none !important;
    box-shadow: inset 0 0 0 0 palette(green),
                0 6rem 0 0 palette(green);

    will-change: transform;

    ~ .pitch.pitch--paper.pitch--container::after {
      border-color: palette(white) palette(green) palette(white) palette(white);
    }

    #logo { top: 1rem; }
  }

  &:not(.home) > header {
    padding-bottom: 10rem;
    box-shadow: none;
    .h1 { margin-top: 6rem; }
  }

  &:not(.home) .pitch--paper:after {
    border-right-color: #f2f2f2;
  }

  &:not(.home).enterprise-share-mode > .share-header {
    padding-bottom: 14rem;
    background: palette(green);

    &:before { display: none; }

    @media screen and (max-width: $smartphones) {
      padding-top: 3rem;
      padding-bottom: 5rem;
      margin-bottom: -25px !important;

      .share-header__hero {
        margin-top: 0;
      }
    }

    .share-header__hero,
    .share-header__subheadline {
      color: palette(white);
    }

    ~ .pitch.pitch--paper.pitch--container::after {
      border-color: palette(white) palette(green) palette(white) palette(white);
    }
  }
}


body.home:not(.logged-in) > header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-timer-container .c-timer {
  font-size: size(type, md);
}

@media screen and (max-width: 767px) {

  body:not(.logged-in) > header {
    margin-bottom: 1.5rem !important;
  }

  body > header {
    padding: 0 20px;
  }

  .item-bar__item.c-timer-container {
    padding: 1.2rem 0;
    padding-left: .5rem;
    vertical-align: middle;
  }

  .c-timer-container .c-timer {
    font-size: size(type, sm);
  }
}


.home.home-inverse {
  > header {
    // margin-bottom: 3rem;
    padding-bottom: 0;
  }

  &.logged-in > header:not(.app-header) {
    min-height: 65vh;
  }

  &.logged-in > header.app-header,
  &.application > header {
    margin-bottom: -1.75rem !important;
    padding-bottom: 6rem;
    background-color: palette(green);

    &:before { display: none; }

    @media screen and (max-width: $tablets) {
      margin-bottom: 2.5rem !important;
      padding-top: 0;
    }
  }

  @media screen and (min-width: $smartphones) {
    &:not(.logged-in) > header {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    &.application > header {
      padding-top: 8rem;
      padding-bottom: 5rem;
    }
  }
}


@media screen and (max-width: $smartphones) {
  .home.home-inverse:not(.logged-in) > header {
    height: 75vh;
  }

  .lang-en .home.home-inverse:not(.logged-in) > header {
    height: 90vh;
  }
}

.annotator-controls { z-index: 10; }

/*==========  Rows & Columns  ==========*/
@media screen and (min-width: $tablets) {
  .text-right--lg { text-align: right; }
  .sections__wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
  }
}


.has-diag-line {
  box-shadow:
    inset 0 -10px 0 0 white;
}

.has-diag-line::after,
.has-diag-line::before {
  content: '';
  width: 100%;
  height: 46px;
  background: hsl(0, 0%, 100%);
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  margin: 0 auto;
  z-index: 1;
  transform: rotate(-1deg) translateY(30px) scaleX(5);
  box-shadow: 0 -6px 10px -8px hsla(0,0%,0%,.15);
}

.has-diag-line::before {
  transform: rotate(1deg) translateY(20px) scaleX(5);
}

.sticky-wrapper .c-nav {
  transition: 140ms ease-in-out;
  overflow: hidden; // fixes weird bug in Firefox
}
.is-sticky .c-nav {
  box-shadow: 0 3px 5px 0 hsla(255,100%,0%, .15)
}


#PitcherificCordCountdownOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .5);
  z-index: 99999999999999999;
  font-size: 22rem;
  color: white;
  font-family: 'Source Sans Pro', 'Lato', Arial, sans-serif;
  transition: opacity 140ms ease-in-out;
  opacity: 0;
  pointer-events: none;

  &.paused {
    color: #333;
    background-color: hsla(255, 100%, 100%, .85);
  }

  &.in {
    opacity: 1;
    pointer-events: all;
  }
}

.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#PitcherificCordWebcamPreview {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background: #333;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  box-shadow: 0 10px 10px 0 hsla(0, 0%, 0%, .11);
  object-fit: cover;
}