@charset 'UTF-8';

/*
|--------------------------------------------------------------------------
| Config
|--------------------------------------------------------------------------
|
| To modularize Pitcherific's styles we move all variables into
| this config file. Whenever you need to use a variable that is
| more global in nature, add it here.
|
*/

/*
|----------------------------------------------------------------------
| Scales
|----------------------------------------------------------------------
*/

// http://www.modularscale.com/?1.618&rem&1.146&sass&table
$ui-scales: (
  type: (
    xxxl: 3.198rem,
    xxl: 2.791rem,
    xl: 2.435rem,
    lg: 2.125rem,
    md: 1.854rem,
    base: 1.618rem,
    sm: 1.412rem,
    xs: 1.232rem,
    xxs: 1.075rem
  )
);

/*
|----------------------------------------------------------------------
| Colors
|----------------------------------------------------------------------
*/

$ui-color-base-red: hsl(6, 78%, 57%);
$ui-color-base-grey: hsl(0, 0%, 95%);
$ui-color-base-blue: hsl(204, 70%, 53%);
$ui-color-base-white: hsl(0, 0%, 100%);
$ui-color-base-black: hsl(0, 0%, 17%);
$ui-color-base-brown: hsl(16, 25%, 38%);
$ui-color-base-green: hsl(145, 63%, 49%);
$ui-color-base-yellow: hsl(48, 98%, 50%);
$ui-color-base-lightyellow: hsl(60, 100%, 94%);

$ui-palettes: (
  black: (
    base: $ui-color-base-black,
    mid-light: lighten($ui-color-base-black, 5%),
    light: lighten($ui-color-base-black, 10%),
    x-light: lighten($ui-color-base-black, 30%)
  ),
  white: (
    base: $ui-color-base-white,
    mid-dark: darken($ui-color-base-white, 2.5%),
    dark: darken($ui-color-base-white, 5%),
    x-dark: darken($ui-color-base-white, 10%),
    xx-dark: darken($ui-color-base-white, 10%)
  ),
  grey: (
    base: $ui-color-base-grey,
    mid-dark: darken($ui-color-base-grey, 5%),
    dark: darken($ui-color-base-grey, 10%), // gainsboro
    x-dark: darken($ui-color-base-grey, 30%)
  ),
  blue: (
    base: $ui-color-base-blue,
    light: lighten($ui-color-base-blue, 10%),
    dark: darken($ui-color-base-blue, 5%)
  ),
  green: (
    base: $ui-color-base-green,
    light: lighten($ui-color-base-green, 10%),
    x-light: lighten($ui-color-base-green, 30%),
    dark: darken($ui-color-base-green, 5%)
  ),
  red: (
    base: $ui-color-base-red,
    dark: darken($ui-color-base-red, 5%)
  ),
  yellow: (
    base: $ui-color-base-yellow,
    light: lighten($ui-color-base-yellow, 5%)
  ),
  lightyellow: (
    base: $ui-color-base-lightyellow
  ),
  brown: (
    base: $ui-color-base-brown,
    light: lighten($ui-color-base-brown, 10%)
  ),
  shadow: (
    base: hsla(0, 0%, 0%, .15),
    light: hsla(0, 0%, 100%, .0),
    x-light: hsla(0, 0%, 0%, .075),
    mid-light: hsla(0, 0%, 0%, .11),
    ultra-light: hsla(0, 0%, 0%, .05),
    mid-dark: hsla(0, 0%, 0%, .25),
    x-dark: hsla(0, 0%, 0%, .85)
  ),
  overlay: (
    base: hsla(165, 20%, 40%, .55),
    base-dark: hsla(165, 20%, 40%, .8),
    base-mid-dark: hsla(165, 20%, 40%, .25),
    light-dark: hsla(0, 0%, 0%, .15),
    mid-dark: hsla(0, 0%, 0%, .25),
    x-dark: hsla(0, 0%, 0%, .35),
    dark: hsla(0, 0%, 0%, .75)
  ),
  transparent: (
    base: hsla(0, 0%, 0%, 0),
    light: hsla(0, 0%, 100%, .7),
    x-light: hsla(0, 0%, 0%, .15),
    minor: hsla(0, 0%, 0%, .25),
    slightly: hsla(0, 0%, 0%, .33)
  ),
  accent: (
    red: #c0392b,
    blue: #2980b9,
    navy: #2c3e50,
    green: #16a085,
    purple: #8e44ad
  )
);


/*
|----------------------------------------------------------------------
| Fonts
|----------------------------------------------------------------------
*/

$ui-font-sans: 'Source Sans Pro';
$ui-font-icons: 'FontAwesome';
$ui-font-sans-stack: $ui-font-sans, sans-serif;
$ui-font-sans-with-icons-stack: $ui-font-sans, $ui-font-icons, sans-serif;
$ui-font-icons-sans-stack: $ui-font-icons, sans-serif;
$ui-font-print-stack: Menlo, 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', Monaco, monospace;

$ui-fonts: (
  sans: (
    base: $ui-font-sans-stack,
    with-icons: $ui-font-sans-with-icons-stack
  ),
  icons: (
    base: $ui-font-icons-sans-stack
  ),
  print: (
    base: $ui-font-print-stack
  )
);


/*
|----------------------------------------------------------------------
| Transitions
|----------------------------------------------------------------------
*/

$ui-transition-ease-quick: .14s ease-in-out;
$ui-transition-ease-base: .28s ease-in-out;
$ui-transition-ease-slow: .48s ease-in-out;

$ui-transitions: (
  ease: (
    base: $ui-transition-ease-base,
    quick: $ui-transition-ease-quick,
    slow: $ui-transition-ease-slow
  )
);


// == REFACTOR ME == //

/* Colors */
$primary__color: hsl(0, 0%, 95%);
$secondary__color: hsl(16, 25%, 38%);
$text__color: rgba(65,65,65,1);
$tertiary__color: #e8bb23;
$c__default_box_shadow: hsla(0, 0%, 0%, .11);
$c__alternative_background: #f5f5f0;
$c__confirming_action: hsl(145, 63%, 49%);
$c__cancelling_action: hsl(6, 78%, 57%);
$c__call_to_action: hsl(48, 98%, 50%);
$c__default_link_color: hsl(204, 70%, 53%);


$colors: (
  primary_color: palette(grey),
  secondary_color: palette(brown),
  default_text: hsl(0, 0%, 17%),
  default_link: hsl(204, 70%, 53%),
  call_to_action: hsl(48, 98%, 50%),
  logged_in_header_bg: hsl(138, 54%, 59%)
);


/* Responsive Queries */
$desktops: 786px;
$tablets: 800px;
$smartphones: 680px;
$smartphones-xs: 320px;

/* Sizes */
$s__baseline: 1.618rem;
$s__tiniest: $s__baseline / 10;
$s__tiny: $s__baseline / 1.40;
$s__smallest: $s__baseline / 2;
$s__smaller: $s__baseline / 1.25;
$s__larger: $s__baseline * 1.25;
$s__largest: $s__baseline * 1.5;
$s__huge: $s__baseline * 2.5;

/* Typography */
$t__main_font_stack: "Source Sans Pro", sans-serif;
$t__main_font_stack_with_fa: "Source Sans Pro", "FontAwesome", sans-serif;


/* Padding & Margin */
$main_padding: 20px;
$main_margin: 20px;

// Transitions
$transition__default: .28s ease;


// Segment
$segment_business_color: palette(blue);
$segment_incubators_color: #7FDBFF;
$segment_education_color: palette(green);
$segment_job_color: red;
