@charset 'UTF-8';

/* Helpers
===================================================================
This file will hold any minor or major classes used for making
developing the interface faster / easier / more modular.
===================================================================
*/

/*==========  Padding & Margin Modifiers  ==========*/

.padded {
  @include modifier("hg-top-bottom") {
    padding: 6rem 0;
    @media only screen and (max-width: 568px) {
      padding: 3rem 0;
    }
  }
  @include modifier("heavily-in-the-top") {
    padding-top: $s__huge;
  }
  @include modifier("slightly-in-the-top") {
    padding-top: $s__smaller;
  }
  @include modifier("heavily-in-the-bottom") {
    padding-bottom: $s__huge;
  }
  @include modifier("slightly-in-the-bottom") {
    padding-bottom: $s__smaller;
  }
  @include modifier("decently-in-the-top") {
    padding-top: $s__larger;
  }
  @include modifier("decently-in-the-bottom") {
    padding-bottom: $s__larger;
  }
  @include modifier("slightly-left-and-right") {
    padding: 0 1rem;
  }
  @include modifier("slightly-right") {
    padding: 0 1rem 0 0;
  }
  @include modifier("allround") {
    padding: 2.5rem 4rem;
  }
  @include modifier("slightly-allround") {
    padding: 2rem;
  }
  @include modifier("xs-allround") {
    padding: 5px;
  }
  @include modifier("equally-heavy") {
    padding: 5rem;
  }
  &--heavily {
    padding: $s__larger;
  }
}

.c-masthead {
  transition: padding-bottom transition(ease);
}

body:not(.logged-in) {
  .has-increased-bottom-padding {
    padding-bottom: 15rem !important;
  }
}

.margined {
  @include modifier("heavily-in-the-bottom") {
    margin-bottom: $s__huge !important;
  }
  @include modifier("heavily-in-the-top") {
    margin-top: $s__huge !important;
  }
  @include modifier("slightly-in-the-bottom") {
    margin-bottom: $s__smaller;
  }
  @include modifier("lightly-in-the-bottom") {
    margin-bottom: $s__smallest;
  }
  @include modifier("decently-in-the-top") {
    margin-top: $s__larger;
  }
  @include modifier("decently-in-the-bottom") {
    margin-bottom: $s__larger;
  }
  @include modifier("slightly-in-the-top") {
    margin-top: $s__smaller;
  }
  @include modifier("slightly-to-the-left") {
    margin-left: $s__smaller;
  }
  @include modifier("slightly-to-the-right") {
    margin-right: $s__smaller;
  }
  @include modifier("lightly-to-the-left") {
    margin-left: $s__smallest;
  }
}

.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: 0.75rem;
}

.mt2 {
  margin-top: size(type, sm);
}

.mt3 {
  margin-top: size(type, md);
}

.mt4 {
  margin-top: size(type, xl);
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: size(type, xs);
}

.mb2,
.mb2-not-last:not(:last-child) {
  margin-bottom: size(type);
}

.mb3 {
  margin-bottom: size(type, md);
}

.mx-auto,
.m0auto {
  margin: 0 auto;
}

.mlr-2 {
  margin-left: size(type);
  margin-right: size(type);
}

.m2 {
  margin: 2rem;
}

.ml0 {
  margin-left: 0;
}

.ml1 {
  margin-left: 0.5rem;
}

.ml2 {
  margin-left: size(type);
}

.mr1 {
  margin-right: 0.5rem;
}

.mr2 {
  margin-right: size(type);
}

.mr3 {
  margin-right: size(type, md);
}


.p1 {
  padding: 1rem;
}

.p2 {
  padding: size(type);
}

.pl1 {
  padding-left: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pt2 {
  padding-top: 1.5rem;
}

.pb2 {
  padding-bottom: 1.5rem;
}

.p3 {
  padding: 30px;
}

.pr4 {
  padding-right: size(type, xxl);
}

.pb0 {
  padding-bottom: 0;
}

.br20 {
  border-radius: 20px;
}

.has {
  @include modifier("no-top-margin") {
    margin-top: 0;
  }
  @include modifier("no-bottom-margin") {
    margin-bottom: 0;
  }
  @include modifier("no-bottom-padding") {
    padding-bottom: 0 !important;
  }
  @include modifier("no-top-padding") {
    padding-top: 0;
  }
  @include modifier("no-padding") {
    padding: 0 !important;
  }
}

/*==========  Visibility Modifiers  ==========*/

.in-teleprompter-mode .hidden--tp {
  display: none;
  visibility: hidden;
}

.only-tp {
  display: none;
}

.hidden--print {
  @media print {
    display: none;
    visibility: hiddden;
  }
}

.is-master .hidden-master {
  display: none;
}

@media screen and (max-width: 368px) {
  .hidden-xxs {
    display: none;
  }
}

/*==========  Size Modifiers  ==========*/

.wrapped {
  max-width: 76rem;
  margin: 0 auto;
}

.wrapped-sm {
  @media screen and (max-width: $tablets) {
    max-width: 76rem;
    margin: 0 auto;
  }
}

.wrapped--lg {
  max-width: 90rem;
  margin: 0 auto;
}

.wrapped-lg-flex,
.wrapped--lg-flex {
  max-width: 116rem;
  margin: 0;
}

.wrapped--hg {
  max-width: 146rem;
  margin: 0 auto;
}

.wrapped--xs {
  max-width: 40rem;
  margin: 0 auto;
}

.vertical-overflow {
  max-height: 45rem;
  overflow-y: auto;
}

.table.table-scroll tbody {
  display: block;
  max-height: 265px;
  overflow-y: auto;
  min-height: 265px;
}

.table.table-scroll thead,
.table.table-scroll tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.c-container-lg {
  max-width: 1200px;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
  @media screen and (max-width: 920px) {
    padding-left: 0%;
    padding-right: 0%;
  }
}

/*==========  Positional Modifiers  ==========*/

.is {
  @include modifier("block") {
    display: block;
  }
  @include modifier("forced-to-bottom") {
    position: absolute;
    bottom: 0;
  }
  @include modifier("fixed") {
    position: fixed !important;
  }
  @include modifier("fixed-to-bottom") {
    bottom: 0;
  }
  @include modifier("centered") {
    right: 0;
    left: 0;
  } // Layer level modifiers
  @include modifier("in-foreground") {
    z-index: 1000;
  }
  @include modifier("on-top") {
    z-index: 10;
  }
  /*==========  Aesthetic Modifiers  ==========*/
  @include modifier("opaque") {
    background-color: palette(white);
  }
  @include modifier("disabled") {
    cursor: not-allowed !important;
    opacity: 0.85;
  }
}

.filter-ds1 {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.25));
}

.filter-ds2 {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4));
}

.filter-ds3 {
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.22));
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.force--right {
  position: absolute;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .pull-right-sm {
    float: right;
  }
}

.has--slight-shadow-in-top {
  box-shadow: 0 0px 10px 0 palette(shadow);
}

.box-shadow-upwards-fade-white {
  box-shadow: 0 -8px 30px 12px white;
  &-md {
    box-shadow: 0 -20px 30px 12px white;
  }
}

.box-shadow-bottom1 {
  box-shadow: 0 4px 18px 0 palette(shadow);
}

.has--left-border {
  &.has--left-border-lg {
    @media screen and (min-width: 1024px) {
      border-left: 1px solid palette(white, x-dark);
    }
  }
}

.has--no-rounded-corners {
  border-radius: 0;
}

.align-middle {
  vertical-align: middle;
}

.align-baseline-middle {
  vertical-align: -webkit-baseline-middle;
}

.align-baseline-middle-sm {
  @media screen and (max-width: $tablets) {
    vertical-align: -webkit-baseline-middle;
  }
}

.color-green {
  color: palette(green);
}

.color-red {
  color: palette(red);
}

.color-dark-white {
  color: palette(white, x-dark);
}

.color-silver {
  color: silver;
}

.color-black {
  color: palette(black);
}

.color-white {
  color: white;
}

.bg-color-white,
.bg-white {
  background-color: white;
}

.bg-color-blue {
  background-color: palette(blue);
}

.bg-color-yellow {
  background: palette(yellow);
}

.bg-color-green {
  background: palette(green);
}

.bg-color-grey {
  background: palette(grey);
}

.bg-color-red {
  background: palette(red);
}

.bg-color-black {
  background: palette(black);
}

.bg-color-transparent {
  background-color: transparent;
}

.bg-color-black-overlay {
  background-color: palette(overlay, light-dark);
}

.bg-color-lightgrey {
  background-color: hsl(0, 0%, 98%);
}

.bg-color-hover-light-blue:hover {
  background-color: palette(blue, light);
}

.bg-color-hover-light-yellow:hover {
  background-color: palette(yellow, light);
}

.bg-color-hover-light-green:hover {
  background-color: palette(green, light);
}

.fill-brown svg path {
  fill: palette(brown);
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.border-color-dark-grey {
  border-color: palette(grey, dark);
}

.border-gray {
  border-color: palette(grey);
}

.border-none {
  border: none;
}

.bt1-grey {
  border-top: 1px solid hsl(0, 0%, 95%);
}

.grayscale-to-color-hover {
  filter: grayscale(1);
  transition: filter 280ms ease-in-out;
  &:hover {
    filter: grayscale(0);
  }
}

.pos-abs {
  position: absolute;
}

.top-5 {
  top: 5px;
}

.left-5 {
  left: 5px;
}

.top0 {
  top: 0;
}

.bottom0 {
  bottom: 0;
}

.right0 {
  right: 0;
}

.left0 {
  left: 0;
}

.display-none {
  display: none;
}

.display-ib {
  display: inline-block;
}

.display-block {
  display: block;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.opacity0 {
  opacity: 0;
}

.opacity50 {
  opacity: 0.5;
}

.va-top {
  vertical-align: top;
}

.width-auto {
  width: auto;
}

.translate-y-neg5-hover:hover {
  transform: translateY(-5px);
}

.bordered {
  border: 1px solid;
}

.bordered-bottom {
  border-bottom: 1px solid hsl(0, 0%, 86%);
}

.border-brown {
  border-color: palette(brown);
}

.border-width2 {
  border-width: 2px;
}

/*==========  Animation Helpers  ==========*/

@media screen and (max-width: 1024px) {
  .move-aside {
    transition: transform 0.48s ease-in-out;
    transform: translateX(-25vw);
  }
}

.is-loading,
.is-saving {
  animation: pulsate 0.28s ease-in-out alternate infinite;
  @keyframes pulsate {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.25;
    }
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@keyframes miniBounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(3px);
  }
}

.transform-pivot-forward {
  transition: transform 580ms cubic-bezier(0.87, -0.41, 0.19, 1.44),
    opacity 480ms ease-in-out;
}

.transform-pivot-forward-start {
  transform: perspective(800px) translateY(50px) translateZ(0deg);
  opacity: 0;
}

.transform-pivot-forward-end {
  transform: perspective(800px) translateY(0) translateZ(0deg);
  opacity: 1;
}

.transition-delay-480ms {
  transition-delay: 480ms;
}

.transition-delay-680ms {
  transition-delay: 680ms;
}

.transition-delay-880ms {
  transition-delay: 880ms;
}

.transition-140ms {
  transition-duration: 140ms;
}

/*========== Interaction Helpers  ==========*/

@mixin unselectable() {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.is--unselectable {
  @include unselectable();
}

.no-outline,
.no-outline::-moz-focus-inner,
.no-outline:focus {
  border: 0;
  outline: none;
}

.is-clickable {
  cursor: pointer;
}

.is-scroll-pane {
  overflow-y: auto;
  max-height: calc(100% - 104px);
}

.cursor {
  &-help {
    cursor: help;
  }
  &-pointer {
    cursor: pointer;
  }
  &-not-allowed {
    cursor: not-allowed;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.scroll-y { overflow-y: auto; }

.height-3 {
  height: 30rem;
}

.bg-center {
  background-position: center center;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.rounded2 {
  border-radius: 0.6rem;
}

/*==========  Shame -_- (refactor asap)  ==========*/

.clear {
  clear: both;
}

.area--disabled {
  opacity: 0.33;
  pointer-events: none;
  cursor: not-allowed;
}

//.pushed-down--slightly { top: 10px; }
.pushed-down--very-slightly {
  top: 2px;
}

//.pushed-up--very-slightly { top: -2px; }
.flex {
  display: flex;
  &.forced { display: flex !important; }
}

.justify-between {
  justify-content: space-between;
}

.justify-items-between {
  justify-items: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-flex-end {
  align-items: flex-end;
}

.flex-column { flex-direction: column; }

.flex-auto { flex: auto; }

.fill-width { width: 100%; }


.transparent,
.show-children-opaque-hover .parent-hover-opaque { opacity: 0 }
.show-children-opaque-hover:hover .parent-hover-opaque {
  opacity: 1;
}

.first-letter-capitalize::first-letter {
  text-transform: capitalize;
}