@charset 'UTF-8';

/*
|--------------------------------------------------------------------------
| Interaction Points
|--------------------------------------------------------------------------
|
| Contains all necessary stylings for links, buttons and the like.
|
*/

.button {
    padding: 1.2rem 1.6rem;
    font-size: $s__tiny;
    line-height: 1.618;
    min-width: 5.4rem;
    background-color: palette(grey, dark);
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 -4px 0 0 palette(shadow, mid-light), inset 0 0 0 1px palette(shadow, mid-light);
    cursor: pointer;
    text-align: center;
    transition: box-shadow transition(ease), top transition(ease);
    &:hover {
        box-shadow: inset 0 -4px 0 0 palette(shadow, mid-light), inset 0 0 0 1px palette(shadow, mid-light);
        background-color: palette(grey, mid-dark);
        transition: background-color transition(ease);
    }
    &:not(.selectpicker):active {
        top: 1px;
        box-shadow: inset 0 0 0 0 palette(shadow, mid-light);
    }
    @include modifier("success") {
        background-color: palette(green);
        color: palette(white);
        transition: background-color transition(ease);
        &:hover {
            background-color: palette(green, dark);
        }
    }
    @include modifier("danger") {
        background-color: palette(red);
        color: white;
        &:hover {
            background-color: palette(red, dark);
        }
    }
    @include modifier("golden") {
        transition: background-color transition(ease);
        background-color: palette(yellow);
        color: palette(brown);
        &:hover {
            background-color: palette(yellow, light);
            color: palette(brown);
        }
    }
    @include modifier("golden-lg") {
        font-size: size(type, sm);
    }
    @include modifier("golden-xl") {
        font-size: size(type, lg);
    }
    @include modifier("default") {
        color: palette(black, light);
    }
    @include modifier("light") {
        background-color: palette(white);
        color: palette(black, light);
        &::hover {
            background-color: palette(white);
        }
    }
    @include modifier("bold") {
        font-size: 1.618rem;
        font-weight: 700;
    }
    @include modifier("lg") {
        font-size: size(type);
    }
    @include modifier("xl") {
        font-size: size(type, lg);
    }
    @include modifier("inline") {
        width: auto;
        display: inline-block;
    }
    @include modifier("dropdown") {
        .dropdown--pointer {
            display: inline-block;
            margin-left: $s__smallest;
            color: palette(black, light);
            transition: transform transition(ease);
        }
    }
    &--slim {
        width: 100% !important;
    }
    @include modifier("cta") {
        background-color: palette(yellow);
        color: palette(brown);
        font-size: 1.618rem;
        box-shadow: none;
        display: inline-block;
        font-weight: 700;
        padding-top: 1.3rem;
        box-shadow: 0 2px 0 0 palette(shadow, mid-dark);
        transition: color transition(ease), background-color transition(ease);
        will-change: color, background-color;
        &:hover,
        &:focus {
            background-color: palette(yellow, light);
            color: palette(brown);
            box-shadow: 0 2px 0 0 palette(shadow, mid-dark);
        }
    }
    @include modifier("heavy") {
        font-size: 1.618rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    @include modifier("outline") {
        padding-top: 1.2rem;
        transition: background-color transition(ease);
        border: 2px solid #333;
        background-color: transparent;
        color: #333;
        box-shadow: none;
        &:hover {
            background-color: #333;
            color: palette(white);
            box-shadow: none;
        }
    }
}

.button[disabled] {
    background-color: palette(grey, dark);
    color: palette(brown);
    cursor: not-allowed;
    opacity: 0.5;
}

.deflate-xs {
    @media screen and (max-width: $smartphones) {
        font-size: 1.412rem;
        &-smaller {
            font-size: 1.1rem;
        }
    }
}

.btn-bold {
    font-size: $s__smaller;
    font-weight: 700;
}

.btn {
    font-weight: 600;
    &.btn-drag {
        cursor: -webkit-grab;
        position: relative;
        opacity: 0.35;
        border: 0;
        margin-left: -8px;
        margin-right: -6px;
        transition: opacity transition(ease);
        &:active {
            box-shadow: none;
            cursor: -webkit-grabbing;
        }
        &+.section__title {
            max-width: 90% !important;
            bottom: 0px !important;
        }
        &:hover {
            opacity: 1;
        }
    }
    &-raised {
        padding-top: 3px;
        padding-bottom: 9px;
        line-height: 1.618;
        box-shadow: inset 0 -3px 0 0 palette(shadow, mid-light);
    }
}

.button.button--lg.button--success.button--has-dropdown {
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
    border: none;
}

.button.button--lg.button--success.dropdown-toggle {
    font-size: 2.1rem;
    right: 0;
    padding: 9px 9px 11px 9px;

    .caret {
        border-width: 8px;
        border-right-width: 6px;
        border-left-width: 6px;        
    }
}

.btn-group.open > .dropdown-toggle ~ .dropdown-menu {
    width: 100%;
    margin-top: 6px;

    &::before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: white;
        position: absolute;
        top: -5px;
        right: 20px;
        display: block;
        transform: rotate(45deg);
        z-index: -1;
        border: 1px solid #cbcbcb;
        border-bottom: none;
        border-right: none;        
    }

    & > li > a {
        padding: 14px;
        font-size: 1.6rem;
    }
}

.js-remove-section.btn {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 16px;
    border-radius: 4px 0 4px 0;
    padding: 4px;
    width: 25px;
    height: 25px;
    line-height: 1;
    background: transparent;
    border: 1px solid palette(grey, dark);
    color: palette(brown);
}


/* Themes */

.persona--business .c-persona-block__header {
    border-top: 6px solid palette(blue);
}

.persona--education .c-persona-block__header {
    border-top: 6px solid palette(green);
}

.persona--incubator .c-persona-block__header {
    border-top: 6px solid #7fdbff;
}

.persona--job .c-persona-block__header {
    border-top: 6px solid palette(red);
}

.c-persona-block__footer .h4 {
    font-size: 1.618rem;
}

.landing-header .h1 {
    &::before,
    &::after {
        content: "";
        display: block;
        background-color: palette(brown);
        width: 100px;
        height: 6px;
        margin: 2rem auto;
        border-radius: 12px;
    }
}

.theme--pricing.landing-header .h1 {
    &::before,
    &::after {
        background-color: palette(yellow);
    }
}

.theme--business.landing-header .h1 {
    &::before,
    &::after {
        background-color: $segment_business_color;
    }
}

.theme--incubator.landing-header .h1 {
    &::before,
    &::after {
        background-color: $segment_incubators_color;
    }
}

.theme--job.landing-header .h1 {
    &::before,
    &::after {
        background-color: $segment_job_color;
    }
}

.theme--education.landing-header .h1 {
    &::before,
    &::after {
        background-color: $segment_education_color;
    }
}


$rangeShadow: 0 3px 4px 0 hsla(0, 0%, 0%, .12);
$rangeBgColor: #6C7B8C;

input[type=range] {
    -webkit-appearance: none;
    margin: 5px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: $rangeShadow;
    background: $rangeBgColor;
    border-radius: 1.3px;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: $rangeShadow;
    border: 1px solid hsla(0, 0%, 0%, .22);
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $rangeBgColor;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: $rangeShadow;
    background: $rangeBgColor;
    border-radius: 1.3px;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: $rangeShadow;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $rangeBgColor;
    border-radius: 2.6px;
    box-shadow: $rangeShadow;
  }
  input[type=range]::-ms-fill-upper {
    background: $rangeBgColor;
    border-radius: 2.6px;
    box-shadow: $rangeShadow;
  }
  input[type=range]::-ms-thumb {
    box-shadow: $rangeShadow;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $rangeBgColor;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: transparent;
  }