@charset 'UTF-8';

.print-helper { display: none; }

@media print {
  @page {
    size: 8.3in 11.7in; 
  }
  body.logged-in.is-subscribed {
    .print-helper {
      display: block;
      margin-top: 5px;
      margin-bottom: 15px;
      font-family: font(print);
      white-space: normal;
      overflow: visible;
      page-break-after: always;
      // page-break-inside: avoid;
    }

    .pdf-keycards {
      .highlight-keyword {
        color: yellow !important;
        font-weight: bold !important;
        font-size: 2rem;
      }
    }

    body {
      background-color: palette(white);
      background-image: none;
      color: palette(black);
    }

    #leftbar { display: none; }
    #contentarea { width: 100%;}

    .hidden-print { display: none !important; }
    .section__title {
      font-size: 14pt !important;
      padding: 0 !important;
    }

    .section__content {
      border: 0 !important;
      padding: 0 !important;
      font-size: 12pt !important;
    }

    .section__example {
      display: none !important;
      font-size: .1rem !important;
    }

    .sections .section,
    .sections .section:not(:last-child) {
      margin-bottom: 0 !important;
    }

    .sections .section {
      margin-bottom: -50px;
    }

    .sections .section .section__content[class] {
      min-height: 8rem !important;
      overflow: visible !important;
      display: none !important;
    }
  }

  body:not(.logged-in),
  body:not(.is-subscribed) {
    &:before {
      display: block;
      padding: 100pt;
      font-size: 18pt;
      text-align: center;
      white-space: pre;
      content: 'You have to be PRO to print your pitch.';
    }

    * {
      display: none;
    }
  }

  html[data-language="da"] body:not(.logged-in):before,
  html[data-language="da"] body:not(.is-subscribed):before {
    content: 'Du skal være PRO for at printe dit pitch.';
  }

  html[data-language="en"] body:not(.logged-in):before,
  html[data-language="en"] body:not(.is-subscribed):before {
    content: 'You have to be PRO to print your pitch.';
  }

}
