@charset 'UTF-8';

.is-teleprompter-mode {
  overflow: hidden;

  .container-wrap.container--paper-fx {
    background-color: transparent;

    &::after {
      display: none;
    }
  }

  .only-tp {
    display: block;
    margin-bottom: 2rem;
    padding: 0;
  }

  .only-tp-inline {
    display: inline-block;
  }

  .expanded-tp {
    width: 100% !important;
  }

  .section__title {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 2px;
    font-size: size(type, xs) !important;
  }

  .sections {
    padding-bottom: 0;
    font-size: size(type, lg);
    font-weight: 700;
    text-shadow: 0 1px 3px palette(shadow, x-dark);
    z-index: 1;
  }

  @media screen and (max-width: $tablets) {
    .sections {
      font-size: size(type, xxxl);
    }
  }


  @media screen and (min-width: 0px) {
    .time-marker {
      display: block;
      position: absolute;
      top: 325px;
      right: -75px;
      width: 120%;
      height: 2px;
      background-color: lightblue;
      z-index: 1;

      &::before {
        position: absolute;
        top: -104px;
        left: -80px;
        width: 158px;
        height: 211px;
        content: url('../img/time_marker.svg');
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 320px) {
    .time-marker {
      right: -10px;
    }
  }

  @media screen and (max-width: 768px) {
    .time-marker::before {
      opacity: 0;
    }
  }

  > header {
    margin-top: -260px;
    transition: margin-top .42s ease;
    box-shadow: none;

    + main > #pitch_settings {
      height: 0;
      transition: opacity .28s ease, height .28s ease;
      opacity: 0;
    }
  }

  main {
    box-shadow: none !important;
  }

  .is--fixed-to-bottom {
    transition: opacity transition(ease);
    opacity: .90;

    &:hover {
      opacity: 1;
    }
  }

  .hidden-tp,
  #drift-widget {
    display: none !important;
  }

  .section__content {
    padding-left: 5px !important;
    background-color: transparent !important;
    color: palette(black);
    border: 0 !important;
  }

  .sections {

    .section {
      margin-bottom: -10px;

      .section__title {
        left: -5px;
      }

      .section__content {
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
      }
    }
  }


  /**
   * Handle Keyword Focus Mode
   */
  &.in--keyword-focus-mode {
    .section__content__text {
      color: hsla(0, 100%, 100%, .15);
      text-shadow: none;

      .is--keyword {
        color: hsl(0, 100%, 100%);
        font-size: 150%;
        line-height: 0;
        text-shadow: 0 2px 5px palette(shadow, mid-dark);
      }
    }
  }

  // Feedback Bar
  .c-feedback-bar {
    opacity: .5;
    transition: opacity 280ms ease-in-out;
    &:hover { opacity: 1; }
  }


}

body:not(.is-teleprompter-mode) {
  .only-tp-inline {
    display: none;
  }
}
