@charset 'UTF-8';

/* Tools
===================================================================
Range of tools that aid development for the CSS modules
and the like.
===================================================================
*/
@mixin element($name) {
  @at-root {
    #{&}__#{$name} {
      @content;
    }
  }
}

@mixin modifier($name) {
  @at-root {
    // '&' is a double-wrapped list
    $selector: nth(&, 1);
    // direct parent will be the last item in that list
    $direct-parent: nth($selector, length($selector));
    // modifier should have all properties of parent
    #{$direct-parent}--#{$name} { @extend #{$direct-parent} !optional; }
    // '@content' will be in a nested selector however, if that is the context
    #{&}--#{$name} { @content; }
  }
}


/**
 * Provides a small, more readable interface
 * for fetching key values from maps.
 */
@function config($list, $key) {
  @return map-get($list, $key);
}

@function size($scale, $type: 'base') {
  @return map-get(map-get($ui-scales, $scale), $type);
}

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($ui-palettes, $palette), $tone);
}

@function font($font, $type: 'base') {
  @return map-get(map-get($ui-fonts, $font), $type);
}

@function transition($transition, $type: 'base') {
  @return map-get(map-get($ui-transitions, $transition), $type);
}
