@charset 'UTF-8';

/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
|
*/

h1,
h2,
h3,
h4,
h5,
h6, {
  color: palette(black, light);
  font-weight: 700;
}

.h0 { font-size: $s__baseline * 3.2 }

.h1 {
  font-size: $s__baseline * 1.65;
  font-weight: 700;
  line-height: 1.412;
}

.h2 {
  font-size: size(type, md);
  font-weight: 600;

  &.thin {
    font-weight: 400;
  }

  &-lg { font-size: size(type, xxl); }
}

h4,
.h3 {
  font-size: $s__baseline;
  font-weight: 600;
}

.h4 {
  font-size: size(type, xs);
}

.h5 {
  font-size: $s__baseline * .50;
}

.h6 {
  font-size: $s__baseline * .25;
}

@media screen and (max-width : $smartphones) {
  .h1 {
    font-size: size(type, xxl);
  }

  .lang-en .h1 { font-size: size(type, xxl) * 1.2; }

  .hero__payoff {
    max-width: 28rem;
    font-size: size(type, xs);
  }
}

.overlay-label {
  z-index: 1;

  @include modifier('dark') {
    padding-top: 1.3rem;
    border-top: 3px solid palette(white, x-dark);
    background-color: palette(white, x-dark);
    color: palette(black, light);
    font-size: size(type, sm);
    font-weight: 700;
  }
}

.page--header + .pitch--paper p {
  color: palette(black);
}

.page--header + .pitch--paper a {
  border-bottom: 1px dotted;
  color: palette(black);
}

label {
  margin-bottom: 7px;
  font-size: 1.412rem;
  font-weight: 700;
  cursor: pointer;
}

form label input,
form label .input-group {
  margin-top: 5px;
}


form .input-group input {
  margin-top: 0;
}

form[name="paymentForm"] label {
  display: block;
}

.section-headline {
  margin: 0 auto;
  margin-bottom: 1.618rem;
  padding-right: 15px;
  padding-left: 15px;

  &-lg {
    max-width: 72rem;
    font-size: size(type, lg);
    line-height: 1.618;
  }
}


/*==========  Links & Clickable Areas  ==========*/

.clickable {
  cursor: pointer;
}

.link {
  @include modifier('inverted') {
    color: palette(white, x-dark);
    &:hover { color: palette(grey, x-dark); }
  }
}

/*==========  Text Modifiers  ==========*/
.text {
  @include modifier('center') { text-align: center; }
  @include modifier('right') { text-align: right; }
  @include modifier('pre') { white-space: pre; }

  @include modifier('center-xs') {
    @media screen and (max-width: 736px) {
      text-align: center;
    }
  }

  @include modifier('capitalize') {
    text-transform: capitalize;
  }

  @include modifier('shadow') {
    text-shadow: 0 3px 2px hsla(0, 0%, 0%, .33);
  }
  @include modifier('shadow-lt') {
    text-shadow: 0 2px 1px hsla(0, 0%, 0%, .2);
  }

  @include modifier('cta') {
    color: palette(yellow);
  }

  @include modifier('as-link') {
    padding-bottom: 2px;
    border-bottom: 1px dashed;
    color: palette(blue);
    cursor: pointer;

    &:hover,
    &:focus {
      color: palette(blue);
      text-decoration: none;
    }

    &.no-underline { border-bottom: none; }
  }

  @include modifier('increased-line-height') {
    line-height: 1.618;
  }

  @include modifier('increased-line-height-md') {
    line-height: 1.412;
  }

  @include modifier('increased-line-height-xs') {
    line-height: 1.206;
  }

  @include modifier('increased-line-height-sm') {
    line-height: 1.332;
  }

  @include modifier('thin') { font-weight: 400; }
  @include modifier('700') { font-weight: 700; }

  @include modifier('small-caps') {
    font-size: size(type, xxs);
    text-transform: uppercase;
  }

  @include modifier('increased-letter-spacing') {
    letter-spacing: 2px;
  }
}

.t3 { font-size: size(type, md); }
.t2 { font-size: size(type); }
.text-underline { border-bottom: 1px solid hsla(0, 0%, 0%, .65); }

/*==========  Branding  ==========*/
.c-logo {
  font-size: 16px;
  display: inline-block;
  color: palette(brown);

  &--inverted {
    color: palette(white, x-dark);
  }
}

.is-opaque #logo,
.is-opaque #logo a {
  color: palette(brown);
}

.blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.618rem;

  @include modifier('raised') {
    padding: 20px;
    border-radius: 8px;
    background-color: palette(white);
    box-shadow: 0 2px 5px 0 palette(shadow),
                inset 0 0 0 1px palette(shadow);
  }

}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: palette(grey, x-dark);
}

.label-block {
  display: block;
}

.strike { text-decoration: line-through; }

.fw-400 { font-weight: 400; }
.fw-900 { font-weight: 900; }

/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

.white { color: white; }