@charset "UTF-8";

/*
|--------------------------------------------------------------------------
| Components
|--------------------------------------------------------------------------
|
*/

@import "core/tools";
@import "core/config";
@import "core/helpers";
@import "components/navigation";
@import "components/_global-footer";
@import "components/pricing-table";
@import "core/interaction_points";
@import "components/language-switcher";
@import "marketing/responsive-nav";
@import "marketing/media-browser";
@import "marketing/advice-box";
@import "marketing/feature-block";
@import "marketing/feature-carousel";
@import "marketing/cta";
@import "marketing/question-block";
@import "marketing/feature-grid";
@import "marketing/plan-overview";
@import "marketing/plan-list";
@import "marketing/case-block";
@import "marketing/wistia";
@import "components/nav-dropdown";
@import "marketing/feature-bubbles";
@import "vendor/bootstrap";
.c-persona-block {
    .h2 {
        font-size: 2rem;
        font-weight: 700;
    }
}

.friend-logos {
    max-width: 110rem;
    margin: 0 auto;
}
.friend-logos img {
    max-width: 172px;
    margin: 2rem;
}

.c-choice-switch {
    width: 50%;
    float: left;
  input {
      display: none;
  }
  &__field {
      padding: 15px 20px;
      border: 1px solid gainsboro;
      cursor: pointer;
  }

  input:checked + &__field {
      color: white;
      background-color: #2ecc70;
      box-shadow: 0 0 18px 0 hsla(145, 63%, 49%, .2);
      a {
          color: white;
      }
  } 
}