@charset 'UTF-8';

// Styles Manifest
// ===================================================================
// Here we import all the necessary core, components and vendor
// styles needed for Pitcherific's styles.
// ===================================================================

@import 'core/tools';
@import 'core/config';
@import 'core/reset';


// Core
@import 'core/helpers';
@import 'core/base';
@import 'core/typography';
@import 'core/interaction_points';
@import 'components/item-bar';
@import 'marketing/feature-bubbles';

// Components
@import 'vendor/bootstrap';
@import 'vendor/bootstrap-select';
@import 'vendor/stripe';

/// Primary
@import 'components/navigation';
@import 'components/hero-container';
@import 'components/pitch-instructions';
@import 'components/language-switcher';
@import 'components/form-controls';


/// Writing
@import 'components/loader';
@import 'components/pitch';
@import 'components/pitch-section';
@import 'components/pitch-footer';
@import 'components/section-calculator';
@import 'components/shared-in-use-marker';

// Screen Recording
@import 'components/screen-recorder-preview';

#template-container {
    .dropdown-menu {
        border-bottom: 1px solid gainsboro;
    }
}