@charset "UTF-8";

/**
 * Advice Box
 */
.c-advice-box {
  max-width: 46rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: .4rem;
  background-color: hsl(208, 71%, 96%);

  @media screen and (max-width: 678px) {
    max-width: 95%;
  }

}

.c-advice-box a { text-decoration: underline; }

.c-advice-box:before {
  content: attr(data-floating-title);
  position: absolute;
  top: -20px;
  text-indent: -1px;
  font-size: 2.618rem;
  font-weight: 600;

}
