@charset 'UTF-8';

.block-links {
  max-width: 102.4rem;
  margin: 0 auto;
  overflow: hidden;
}

.block-link {
  height: 22rem;
  background-color: white;
  background-position: center center;
  background-size: cover;

  @media screen and (min-width: $smartphones) and (max-width: 1024px) {
    height: 25rem;
  }

  @media screen and (min-width: $desktops) {
    transform-origin: center center;
    transition: transform transition(ease),
                box-shadow transition(ease);

    &--left { transform-origin: center left; }
    &--right { transform-origin: center right; }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 2px 6px 0 palette(shadow);
      z-index: 1;
    }
  }

  &__icon {
    position: absolute;
    top: 70px;
    left: 30px;
    width: 80px;
    height: 80px;
    border: 5px solid;
    border-radius: 50%;
    color: palette(white);
    font-size: 38px;
    line-height: 75px;
    text-align: center;

    @media screen and (min-width: $smartphones) and (max-width: 1024px) {
      top: auto;
      right: 0;
      bottom: 45px;
      left: 0;
      margin: 0 auto;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 3rem;
    text-align: center;
  }

  &__inner {
    flex: 0 1 auto;
    width: 65%;

    @media screen and (min-width: $smartphones) and (max-width: 1024px) {
      width: 100%;
      height: 100%;
    }

    &.to-bottom {
      height: 0;
    }
  }

  &__heading {
    margin: 0;
    font-size: size(type, lg);
    font-weight: 600;
    line-height: 1.618;

    font-kerning: normal;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig';

    &--translucent {
      padding: 1rem;
      background-color: palette(transparent, minor);
      color: palette(white);
    }
  }

  &--theme-primary {
    background-color: palette(green);
    background-image: linear-gradient(to right bottom, palette(green, x-light) 0, palette(green) 100%);

    .block-link__heading {
      color: palette(white);
    }
  }

  &--theme-secondary {
    background-color: palette(blue);
    background-image: linear-gradient(to right bottom, palette(blue, light) 0, palette(blue) 100%);

    .block-link__heading {
      color: palette(white);
    }
  }
}
