.c-case-block {
  color: ghostwhite;
  background-color: hsl(213, 35%, 30%);
  overflow: hidden;
  box-shadow: 
    inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.25),
    inset 0 -2px 4px 0 hsla(0, 0%, 0%, 0.25);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 84rem;
    z-index: 1;

    @media screen and (max-width: 46.24em) {
      padding: 4rem;
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1.618rem;
  }

  &__body {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &__cite {
    display: block;
    margin-bottom: 4rem;
    font-style: normal;
    font-weight: 600;
  }

  &__button {
    display: inline-block;
    padding: 1.618rem;
    border: 3px solid white;
    border-radius: .8rem;
    background: hsla(0,0%,0%,0);
    font-weight: 700;
    transition: background-color .28s ease-in-out;
    color: white;

    &:hover {
      color: white;
      background-color: hsla(0,0%,0%,.15);
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: hsla(213, 35%, 30%, .33);
    box-shadow: inset 52vw 0 150px 0 hsla(0,0%,0%,.33);
  }
}