@charset "UTF-8";

/**
 * CTA
 */
.c-cta {
  max-width: 54rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid gainsboro;
  border-radius: .4rem;
  box-shadow: 0 2px 1px 0 hsla(0, 0%, 0%, 0.06);

  &__person {
    position: absolute;
    left: -4px;
    bottom: 0px;
    max-width: 145px;
  }

  @media screen and (max-width: 678px) {
    max-width: 95%;
  }

  .btn.btn-cta {
    color: white;
    border-color: hsl(208, 56%, 46%);
    background-color: hsl(208, 56%, 46%);

    &:hover {
      background-color: lighten(hsl(208, 56%, 46%), 5%);
    }
  }

}



.c-cta__header {
  padding: 2rem;
}

.c-cta__headline {}

.c-cta__footer {
  padding: 2rem;
  border-top: 1px dashed gainsboro;
}

.px3 {
  padding-left: 2rem;
  padding-right: 2rem;
}
