@charset "UTF-8";

.c-feature-grid {
  &__item {
    padding: 2.4rem;

  }

  .c-feature {

    &__icon {
      padding: 1.412rem;
      font-size: 5rem;
    }

    &__media {
      overflow: hidden;
      width: 100%;
      height: 20rem;
      margin: 0 auto;
      margin-bottom: 2rem;
      border: 1px solid gainsboro;
      border-radius: .8rem;
      //background-size: cover;
      background-position: left top;

      &.is-circle {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
      }
    }

    &__why {
      font-size: 1.412rem;
      font-weight: 500;
    }

    &__what {
      margin-bottom: 1.618rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}
