@charset "UTF-8";
.c-feature-carousel {
    min-height: 40rem;
    padding: 4rem;
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    margin: 0 auto;
    border-radius: 6px;
    max-width: 92rem;

    &__nav {
        z-index: 10;
        padding: 0 6rem;
        margin-top: 4rem;
        margin-bottom: -2px;
        text-align: center; // border-bottom: 1px solid gainsboro;
        & .c-feature-carousel__nav-item {
            transform: translateY(5px);
            display: inline-block;
            margin: auto 0.5rem;
            margin-right: -15px;
            padding: 0.2rem;
            border-radius: 6px 6px 0 0; // border: 1px solid gainsboro;
            border-bottom: none;
            text-decoration: none;
            transition: transform 0.14s ease-in-out, background-color 0.14s ease-in-out;
            &.is-active {
                transform: translateY(0);
                background-color: ghostwhite;
                padding-bottom: 0.15rem;
                border: 1px solid gainsboro;
                border-bottom: 2px solid ghostwhite;
                z-index: 1;
                .btn {
                    padding-bottom: 1.2rem;
                    font-weight: 600;
                }
            }
            &:hover {
                color: #333;
            }
            &:hover .btn {
                text-decoration: none;
            }
            .btn {
                padding-bottom: 1.5rem;
                padding-left: 1.8rem;
                padding-right: 1.8rem;
            }
            .btn.btn-link:focus {
                outline: none;
                text-decoration: none;
            }
        }
        @media screen and (max-width: 680px) {
            left: -1rem;
            padding: 0;
            .btn {
                font-size: 1rem;
            }
            .c-feature-carousel__nav-item:first-child {
                margin-left: 0;
            }
            .c-feature-carousel__nav-item .btn {
                padding-left: 0.45rem;
                padding-right: 0.45rem;
            }
        }
        @media screen and (min-width: 681px) and (max-width: 800px) {
            .btn {
                font-size: 1.412rem;
            }
        }
    }
    &__item {
        display: none;
        z-index: 1;
        margin: 0 auto;
        max-width: 90rem;
        opacity: 0;
        transition: opacity 0.28s ease-in-out;
        &.is-active {
            z-index: 2;
            opacity: 1;
            display: block;
        }
    }
    @media screen and (max-width: 678px) {
        max-width: 90%;
        margin: 0 auto;
    }
}