@charset "UTF-8";

/**
 * Feature Block
 */
.c-feature-block {

  &__wrapper {
    max-width: 88rem;
    margin: 4rem auto;
    font-size: 1.836rem;
    line-height: 1.618;
  }

  &__image {
    width: 100%;
  }

}

.c-feature-block__content {
  max-width: 65rem;
  margin: 1.5rem auto;
  line-height: 1.6;
  color: hsl(209, 13%, 45%);
}

.c-feature-block + .section-headline {
  margin-top: 10rem;
}
