@charset "UTF-8";

.c-feature-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  pointer-events: none;

  .c-feature-bubble {
    $size: 120;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    padding: 1.4rem;
    width: #{$size}px;
    height: #{$size}px;
    background-color: white;
    box-shadow: 0 2px 10px 0 hsla(0, 0%, 0%, .22);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 140ms ease-in-out;
    line-height: 1;
    text-align: center;
    
    &.active {
      transform: scale(1.2);
    }

    $offset: 1.5;
    &--tl {
      top: #{0 - $size / $offset}px;
      left: #{0 - $size / $offset}px;
      transform-origin: -20% -20%;
    }
    &--tr {
      top: #{0 - $size / $offset}px;
      right: #{0 - $size / $offset}px;
      transform-origin: 100% 0%;
    }
    &--br {
      bottom: #{0 - $size / $offset}px;
      right: #{0 - $size / $offset}px;
      transform-origin: 100% 100%;
    }
    &--bl {
      bottom: #{0 - $size / $offset}px;
      left: #{0 - $size / $offset}px;
      transform-origin: -20% 100%;
    }
    
  }
}