@charset "UTF-8";

/**
 * Media Browser Component
 */
.c-media-browser {
  max-height: 340px;
  overflow: hidden;
  border: 1px solid gainsboro;
  border-top: none;
  border-radius: 4px 4px 0 0;
  transition: box-shadow .28s ease-in-out;
  box-shadow: 0 3px 18px hsla(0,0%,0%,.22);
  // transform: skewY(-1deg) skewX(1deg);

  &__dots {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;
    font-size: 11px;

    i { margin-right: .25rem; }
    i:nth-child(1) { color: hsl(3, 100%, 70%); }
    i:nth-child(2) { color: hsl(41, 100%, 59%); }
    i:nth-child(3) { color: hsl(130, 67%, 48%); }
  }

  &.is-lifted {
    box-shadow: 0 6px 8px 1px hsla(0, 0%, 0%, .15);
  }

  &__media {
    max-width: 100%;
    margin-bottom: -8px;
  }

  &--tall { max-height: 360px; }
}

.c-media-browser:before {
  content: "";
  width: 101%;
  left: -1px;
  height: 28px;
  display: block;
  border: 1px solid gainsboro;
  background-color: hsl(0,0%,95%);
  overflow: hidden;
}
