@charset "UTF-8";

/* Question Block Component
===================================================================
Used in landing pages to answer people's questions using a
stated question and a video response. Also includes an avatar.
===================================================================
*/
*

.c--question-block-container {
  //margin-bottom: 8rem;

  &:nth-child(odd) {
    padding-bottom: 4rem;
    background-color: ghostwhite;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
  }

}

.c--question-block {
  padding-top: 2.2rem;
  text-align: center;
  color: #333;
}

.c--question-block__question {

  margin-top: 1.618rem;
  &:before { content: "“"; }
  &:after { content: "”"; }

  font-size: 2.2rem;
}

.c--question-block__answer {
  overflow: hidden;
  padding-top: 25px;
  border: 3px solid gainsboro;
  border-radius: 8px;
  background-color: hsl(204, 16%, 94%);

  .c--question-block__media {
    width: 100%;
    display: block;
    min-height: 355px;
    border-top: 3px solid gainsboro;
    background-size: cover;
  }

  @media screen and (max-width: 768px) {
    margin-top: 5rem;
  }
}

.c--question-block__avatar,
.c--question-block-avatar {

  width: 111px;
  height: 115px;
  margin: 1.5rem auto;
  border-radius: 50%;
  background-image: url('../img/avatars_sprite.png');
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;

  &[data-avatar="Male A"] { background-position: 2px center; }
  &[data-avatar="Male B"] { background-position: -117px center; }
  &[data-avatar="Female A"] { background-position: -354px center; }
  &[data-avatar="Female B"] { background-position: -236px center; }

  &[data-avatar-type]:after {

    content: attr(data-avatar-type);
    position: absolute;
    bottom: -30px;
    left: -30px;
    right: 0;
    text-align: center;
    width: 175px;
    font-variant: small-caps;
    letter-spacing: .1rem;
    text-transform: lowercase;

  }

  &.is--center-aligned {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 35px;
  }
  &.has--greeting:after {
    content: attr(data-greet);
    background-color: white;
    display: block;
    border-radius: 8px;
    color: #333;
    padding: 10px;
    width: 146px;
    position: absolute;
    left: 90px;
    top: -26px;
    font-size: 1.4rem;
    opacity: 0;
    transform: scale(0,0);
    animation: speakUp .75s .4s cubic-bezier(1.000, -0.600, 0.000, 1.355) forwards;
    box-shadow: 0 2px 3px 0 hsla(0,0%,0%,.15);
    text-align: center;

    @keyframes speakUp {
      to {
        opacity: 1;
        transform: scale(1,1);
      }
    }

    @media screen and (max-width: 768px) {
      top: -45px;
      left: -15px;
    }

  }

  &.does--appear-from-below {
    background-color: white;
    background-position: 2px 100px;
    animation: appearFromBelow .75s .4s cubic-bezier(1.000, -0.600, 0.000, 1.355) forwards;
    margin-bottom: -80px;

    @keyframes appearFromBelow {
      to { background-position: 2px 5px; }
    }
  }
}
