.js-responsive-nav-trigger {
  top: 3px;
  padding: .4rem 1rem .7rem;
  line-height: 1em;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(16, 25%, 38%);
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: hsl(16, 25%, 38%);
    text-decoration: none;
  }

  .icon { top: 3px; }
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3.2rem;
  padding-top: 10rem;
  height: 100%;
  background-color: white;
  z-index: 1000;

  .logo {
    position: absolute;
    top: 22px;
    left: 30px;
    transition: opacity .28s ease-in-out;
  }

  &__item {
    display: block;
    margin-top: 3.2rem;
    color: hsl(16, 25%, 38%);
    font-size: 3.8rem;
    font-weight: 600;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: hsl(16, 25%, 38%);
    }
  }

  .js-close-responsive-nav {
    position: absolute;
    top: 30px;
    right: 25px;
    opacity: .5;
    transition: opacity .28s ease-in-out;
    cursor: pointer;
    color: hsl(16, 25%, 38%);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;

    .icon { top: 3px; }

    &:hover { opacity: 1; }
  }

  &.is-open {
    display: block;
  }

  @media screen and (min-width: 678px) {
    display: none !important;
  }
}