.card,
.card-title {
    margin-bottom: .75rem
}

.navbar-fixed-top {
    top: 0
}

.navbar-fixed-bottom {
    bottom: 0
}

.navbar-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
    width: 100%
}

@media (min-width:34em) {
    .navbar {
        border-radius: .25rem
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top,
    .navbar-static-top,
    .navbar-sticky-top {
        border-radius: 0
    }
}

.navbar-brand {
    float: left;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.navbar-brand>img {
    display: block
}

.navbar-divider {
    float: left;
    width: 1px;
    padding-top: .425rem;
    padding-bottom: .425rem;
    margin-right: 1rem
}

.navbar-divider:before {
    content: '\00a0'
}

.navbar-toggler {
    padding: .5rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: .0625rem solid transparent;
    border-radius: .25rem
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none
}

@media (min-width:34em) {
    .navbar-toggleable-xs {
        display: block!important
    }
}

@media (min-width:48em) {
    .navbar-toggleable-sm {
        display: block!important
    }
}

.navbar-nav .nav-item {
    float: left
}

.navbar-nav .nav-link {
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, .8)
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .3)
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .6)
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .active>.nav-link:focus,
.navbar-light .navbar-nav .active>.nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .open>.nav-link,
.navbar-light .navbar-nav .open>.nav-link:focus,
.navbar-light .navbar-nav .open>.nav-link:hover {
    color: rgba(0, 0, 0, .8)
}

.navbar-light .navbar-divider {
    background-color: rgba(0, 0, 0, .075)
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5)
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .75)
}

.card-inverse .card-blockquote,
.card-inverse .card-footer,
.card-inverse .card-header,
.card-inverse .card-title,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link:focus,
.navbar-dark .navbar-nav .active>.nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.active:focus,
.navbar-dark .navbar-nav .nav-link.active:hover,
.navbar-dark .navbar-nav .nav-link.open,
.navbar-dark .navbar-nav .nav-link.open:focus,
.navbar-dark .navbar-nav .nav-link.open:hover,
.navbar-dark .navbar-nav .open>.nav-link,
.navbar-dark .navbar-nav .open>.nav-link:focus,
.navbar-dark .navbar-nav .open>.nav-link:hover {
    color: #fff
}

.navbar-dark .navbar-divider {
    background-color: rgba(255, 255, 255, .075)
}

.card {
    position: relative;
    border: .0625rem solid #e5e5e5;
    border-radius: .25rem
}

.card-block {
    padding: 1.25rem
}

.card-footer,
.card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5
}

.card-title {
    margin-top: 0
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 1.25rem
}

.card>.list-group:first-child .list-group-item:first-child {
    border-radius: .25rem .25rem 0 0
}

.card>.list-group:last-child .list-group-item:last-child {
    border-radius: 0 0 .25rem .25rem
}

.card-header {
    border-bottom: .0625rem solid #e5e5e5
}

.card-header:first-child {
    border-radius: .1875rem .1875rem 0 0
}

.card-footer {
    border-top: .0625rem solid #e5e5e5
}

.card-footer:last-child {
    border-radius: 0 0 .1875rem .1875rem
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f
}

.card-inverse .card-footer,
.card-inverse .card-header {
    border-bottom: .075rem solid rgba(255, 255, 255, .2)
}

.card-inverse .card-blockquote>footer,
.card-inverse .card-link,
.card-inverse .card-text {
    color: rgba(255, 255, 255, .65)
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
    color: #fff
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0
}

.card-img {
    border-radius: .25rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img-top {
    border-radius: .25rem .25rem 0 0
}

.card-img-bottom {
    border-radius: 0 0 .25rem .25rem
}

.card-deck {
    display: table;
    table-layout: fixed;
    border-spacing: 1.25rem 0
}

.card-deck .card {
    display: table-cell;
    width: 1%;
    vertical-align: top
}

.card-columns .card,
.progress {
    width: 100%
}

.card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem
}

.card-group {
    display: table;
    width: 100%;
    table-layout: fixed
}

.card-group .card {
    display: table-cell;
    vertical-align: top
}

.breadcrumb>li,
.card-columns .card,
.pagination {
    display: inline-block
}

.card-group .card+.card {
    margin-left: 0;
    border-left: 0
}

.card-group .card:first-child .card-img-top {
    border-top-right-radius: 0
}

.card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0
}

.card-group .card:last-child .card-img-top {
    border-top-left-radius: 0
}

.card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0
}

.card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0
}

.card-group .card:not(:first-child):not(:last-child) .card-img-bottom,
.card-group .card:not(:first-child):not(:last-child) .card-img-top {
    border-radius: 0
}

.breadcrumb,
.pagination {
    border-radius: .25rem;
    margin-bottom: 1rem
}

.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
}


/* General Styles for Landing Pages
===================================================================
Since we have different services, we also need different landing
pages to display information about these offers. Some have a
specific style to them, but all of them will inherit this
general stylesheet.
===================================================================
*/

*,
*:before,
*:after {
    position: relative;
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}


body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 0%, 33%);
}

ol {
    line-height: 1.618;
}

img {
    max-width: 100%;
}

hr {
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.label-block {
    display: block;
    line-height: 1.836;
}

.color-blue {
    color: hsl(204, 70%, 58%);
}

.color-green {
    color: hsl(145, 63%, 49%);
}

.color-purple {
    color: hsl(283, 39%, 53%);
}

.color-red {
    color: hsl(6, 78%, 57%);
}

.color-brown {
    color: #795649;
}

.pt2 {
    padding-top: 6rem;
}

.pt4 {
    padding-top: 10rem;
}

.pb4 {
    padding-bottom: 10rem;
}

.pr2 {
    padding-right: 3rem;
}

.pl2 {
    padding-left: 3rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

.has-diag-line {
    box-shadow: inset 0 -10px 0 0 white;
}

.has-diag-line::after,
.has-diag-line::before {
    content: '';
    width: 100%;
    height: 46px;
    background: hsl(0, 0%, 100%);
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    transform: rotate(2deg) translateY(50px) scaleX(5);
    box-shadow: 0 -6px 10px -8px hsla(0, 0%, 0%, .15);
}

.has-diag-line::before {
    transform: rotate(-2deg) translateY(30px) scaleX(5);
}

.overflow-hidden {
    overflow: hidden;
}


/*
|--------------------------------------------------------------------------
| Sticky Navigation Styles
|--------------------------------------------------------------------------
|
*/

.sticks-on-scroll {
    background-color: white;
    transition: box-shadow .28s ease-in-out;
}

.sticks-on-scroll.is-scrolling {
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 5px 0 hsla(255, 100%, 0%, .15);
}


/**
 * Section Headline
 */

.section-headline {
    max-width: 72rem;
    margin: 0 auto;
    font-size: 2.8rem;
    line-height: 1.412;
}

.section-headline__subheader {
    margin-bottom: 1.5rem;
    color: hsl(16, 25%, 38%);
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.section#SVAAQuoteContainer {
    padding: 2rem 2rem 0 2rem;
    background-color: hsl(204, 70%, 53%);
    color: hsl(0, 100%, 100%);
    box-shadow: inset 0 6px 8px 0 hsla(0, 0%, 0%, .10), inset 0 -6px 8px 0 hsla(0, 0%, 0%, .10);
}


/**
 * Handles wrapping everything nicely so the page does
 * not go too wide.
 */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-slim {
    max-width: 78rem;
}

.wrapper-sm {
    max-width: 44rem;
    margin: 0 auto;
}

.wrapper-sm-extended {
    max-width: 46rem;
}

.wrapper.wrapper-padded {
    padding: 120px 0;
}

.wrapper.wrapper-light {
    padding: 60px 0;
}

.wrapper.wrapper-light-top {
    padding-top: 60px;
}

.wrapper.wrapper-flyweight-top {
    padding-top: 25px;
}


/**
 * Handles the special typographical rules of this
 * particular landing page.
 */

.text-heavy {
    font-weight: 700;
}

.text-double-underlined {
    border-bottom: 6px double;
}

.link-underlined {
    padding-bottom: 2px;
    border-bottom: 2px solid;
}

.link-underlined:hover {
    text-decoration: none;
}


/**
 * The Pitcherific Logo
 */

.logo {
    top: 4px;
    font-family: "Pacifico", sans-serif;
    font-size: 20px;
}

.logo a,
.logo a:hover,
.logo a:visited {
    color: hsl(16, 25%, 38%);
    text-decoration: none;
}


/**
 * The Landing Navigation
 */

.landing-nav {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}

.landing-nav__item {
    color: hsl(16, 25%, 38%);
    opacity: .85;
    font-weight: 600;
    font-size: 1.618rem;
    transition: opacity .14s ease-in-out;
}

.landing-nav__item.active {
    opacity: 1;
    font-weight: 700;
}

.landing-nav__item:hover,
.landing-nav__item:active,
.landing-nav__item:focus,
.landing-nav__item:visited {
    color: hsl(16, 25%, 38%);
    opacity: 1;
    text-decoration: none;
}


/*
|--------------------------------------------------------------------------
| Landing Header
|--------------------------------------------------------------------------
|
*/

.landing-header {
    background-color: hsl(192, 15%, 94%);
}

.landing-header-light {
    background-color: white;
}

.landing-header .h1 {
    line-height: 1.25;
}

.page.page--product .landing-header .hero-title {
    font-size: 3rem;
    font-weight: 700;
}


/*
|--------------------------------------------------------------------------
| Landing Footer
|--------------------------------------------------------------------------
|
*/

.landing-footer {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 4rem;
    border-top: 1px solid gainsboro;
}


/**
 * Figure Component
 */

.figure {
    margin: 0;
}

.figure .figcaption {
    top: 65px;
    z-index: 1;
}

.figure.figure-has-cover-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 485px;
}

@media screen and ( max-width: 800px) {
    .figure.figure-has-cover-image {
        min-height: 275px;
    }
}

.figure .figcaption.figcaption-sticks-to-bottom {
    position: absolute;
    top: auto;
    bottom: 0;
    padding: 20px;
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, .75);
    left: 0;
    right: 0;
    color: hsl(0, 100%, 100%);
    font-weight: 700;
}

.figure.figure-min-medium {
    min-height: 385px;
}

.figure.as-tilted-frame {
    min-height: 335px;
    border: 6px solid hsl(0, 0%, 95%);
    box-shadow: 0 5px 10px 0 hsla(0, 0%, 0%, .15);
    top: 50px;
    z-index: 100;
    transform: rotate(3deg);
    overflow: hidden;
    background-color: white;
}

.figure.as-tilted-frame .figcaption {
    top: 25px;
}


/**
 * Section Styles
 */

.section {}

.section-theme-secondary {
    background-color: ghostwhite;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.section.flow {}

.section.flow-golden {
    background-image: radial-gradient( circle farthest-corner at right bottom, hsl(145, 63%, 49%) 0%, hsl(145, 63%, 49%) 28%, hsl(145, 63%, 49%) 52%, hsl(145, 63%, 49%) 79%, hsl(145, 63%, 49%) 100%);
}

.section.flow-golden .section-hero__headline {
    color: white;
}


/**
 * Testimonial Block Component
 */

.c-testimonial-block {
    padding: 30px;
    border: none;
}

.c-testimonial-block__quote {
    quotes: "“" "”" "‘" "’";
}

.c-testimonial-block__quote:before {
    content: open-quote;
}

.c-testimonial-block__quote:after {
    content: close-quote;
}

.c-testimonial-block cite {
    font-size: small;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.pulled-lower-right {
    position: absolute;
    bottom: -70px;
    right: -30px;
}


/**
 * Social Sharing Component
 */

.c-social-share {
    position: fixed;
    right: 0;
    top: 144px;
    z-index: 999;
}

.c-social-share a:hover {
    text-decoration: none;
}

.c-social-share__item {
    display: block;
    padding: 15px;
    text-align: center;
    transition: background-color .28s ease-in-out;
    will-change: background-color;
    color: white;
}

.c-social-share__item.fa-facebook {
    background-color: hsl(221, 44%, 41%);
}

.c-social-share__item.fa-facebook:hover {
    background-color: hsl(221, 44%, 35%);
}

.c-social-share__item.fa-twitter {
    background-color: hsl(206, 82%, 63%);
}

.c-social-share__item.fa-twitter:hover {
    background-color: hsl(206, 82%, 55%);
}

.c-social-share__item.fa-reddit {
    background-color: hsl(210, 75%, 89%);
    color: hsl(0, 0%, 44%);
}

.c-social-share__item.fa-reddit:hover {
    background-color: hsl(210, 75%, 84%);
}

.c-social-share__item.fa-print {
    background-color: hsl(0, 0%, 86%);
    color: hsl(0, 0%, 44%);
}

.c-social-share__item.fa-print:hover {
    background-color: hsl(0, 0%, 81%);
}


/**
 * Video Element
 */

.video {
    width: 100%;
    min-width: 100%;
    background-color: hsl(0, 0%, 33%);
    height: 100%;
    min-height: 275px;
    display: block;
}

.video.video-slim {
    max-height: 32rem;
}

.video-covers-whole-element {}


/**
 * Calculator
 */

.c-price-range-calculator__amount,
.text-double-underlined {
    color: hsl(145, 63%, 49%);
    font-weight: 600;
}


/**
 * Bootstrap Overrides
 */

.h0 {
    margin: 4rem auto;
    margin-bottom: 6rem;
    font-size: 3.6rem;
    font-weight: 200;
}

.text-inverted {
    color: white;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.c-feature-block:nth-of-type(even) .flex-row [class*="col"]:first-of-type {
    order: 1;
}

.c-feature-block:nth-of-type(odd) .flex-row [class*="col"]:last-of-type {
    order: 2;
}

@media screen and (min-width: 768px) {
    .row-eq-height {
        display: table;
    }
    .row-eq-height [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}

.list-unstyled li:not(first-child) {
    margin-top: 15px;
    font-size: 1.8rem;
}

.btn.btn-cta {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    transition: color .28s ease-in-out, background-color .28s ease-in-out;
}

.btn.btn-cta:hover {
    background-color: hsl(208, 57%, 36%);
    color: white;
}

.card {
    border-radius: .4rem;
    border: none;
    font-weight: 600;
}

.card.card-default {
    background-color: white;
}

.card-block {
    padding: 1.8rem;
}

.card-image {
    display: block;
    min-height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    border: 0;
    z-index: 10;
}

@media (max-width: 1024px) {
    .card-image {
        background-attachment: scroll;
    }
}

.card-title,
.card-price {
    font-weight: 700;
    font-size: 2.6rem;
}

.card-price.card-price-lg {
    font-size: 8rem;
    line-height: 1;
}

.card-price-lg sup {
    top: 2rem;
    position: absolute;
    font-size: 2rem;
}

.card-price.card-price-md {
    font-size: 4rem;
    line-height: 1;
}

.card-price-md sup {
    position: relative;
    margin-right: .25rem;
    font-size: 1.618rem;
    top: -1.5rem;
}

.card-subtitle {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.412;
}

.card-block.card-block-slim {
    padding: 0;
}

.card-inverse .card-blockquote>footer,
.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-price {
    color: white;
}

.card.card-success {
    background-color: hsl(145, 63%, 49%);
}

.card.card-primary {
    background-color: hsl(204, 70%, 53%);
}

.has--equation:after {
    content: "";
    display: inline-block;
    z-index: 100;
    padding: 15px;
    width: 75px;
    height: 75px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    border-radius: 50%;
    color: hsl(255, 0%, 60%);
    background-color: hsl(0, 100%, 100%);
    text-align: center;
    border: 4px solid hsl(255, 0%, 90%);
}

.has--equation-plus:after {
    content: "+";
    top: 150px;
    right: -45px;
    position: absolute;
}

@media screen and ( max-width: 678px) {
    .has--equation-plus:after {
        top: inherit;
        bottom: -70px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.has--equation-equals:after {
    content: "=";
}

.col-is-separator {
    margin-left: -15px;
    margin-right: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px dashed gainsboro;
    border-right: 1px dashed gainsboro;
}

.card-default {
    padding: 2rem 0rem;
}

.card-default .card-subtitle {
    font-size: 1.6rem;
    margin-top: 1.618rem;
}

.has-separator {
    padding: 1.618rem 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}


/**
 * Testimonials
 */

.sprite--testimonials {
    width: 200px;
    height: 200px;
    background: url('../img/testimonials/testimonials_sprite.jpg') no-repeat top left;
}

.sprite--testimonials-magnus {
    background-position: 0 0;
}

.c-testimonial__picture[data-testimonial-author="David Bennetzen"] {
    background-image: url('https://media.licdn.com/media/p/6/005/089/208/2d472f0.jpg');
}

.sprite--testimonials-adam {
    background-position: -410px 0;
}

.c-testimonial__picture[data-testimonial-author="Jakob Søndergaard"] {
    background-image: url('../img/testimonials/svaa.jpg');
    background-size: cover;
}

.c-testimonial__picture[data-testimonial-author="Chris Bøcker Pedersen"] {
    background-image: url('http://gymnasieskolen.dk/sites/default/files/chris.png');
}

.c-testimonial__picture[data-testimonial-author="Erik Zijdemans"] {
    background-image: url('../img/testimonials/erik_zijdemans.jpg');
}


/**
 * Helpers
 */

.text-indent-left-sm {
    text-indent: -10px;
}

.text-shadow {
    text-shadow: 0 3px 0 hsla(0, 0%, 0%, .18);
}

.padded {}

.padded-in-the-top {
    padding-top: 72px;
}

.padded-in-the-top-md {
    padding-top: 36px;
}

.padded-in-the-top-sm {
    padding-top: 18px;
}

.padded-top-and-bottom {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pt3 {
    padding-top: 3.2rem;
}

.pb3 {
    padding-bottom: 3.2rem;
}

.padded-allround {
    padding: 25px;
}

.margin-bottom-light {
    margin-bottom: 15px;
}

.margin-left-sm {
    margin-left: 15px;
}

.has-no-top-margin {
    margin-top: 0;
}

.has-negative-bottom-margin-sm {
    margin-bottom: -5px;
}

.is-centered {
    margin: 0 auto;
}

.has-increased-line-height {
    line-height: 2;
}

.has-slightly-increased-line-height {
    line-height: 1.618;
}

.has-increased-line-height-sm {
    line-height: 1.412;
}

.line-height-lg {
    line-height: 3.8rem;
}

.spacer.spacer-heavy {
    margin: 100px auto;
}

.spacer.spacer-medium {
    margin: 66px auto;
}

.spacer.spacer-light {
    margin: 33px auto;
}

.spacer.spacer-flyweight {
    margin: 15px auto;
}

.bordered.bordered-top {
    border-top: 1px solid hsl(0, 0%, 86%);
}

.bordered.bordered-bottom {
    border-bottom: 1px solid hsl(0, 0%, 86%);
}

.bordered.bordered-right {
    border-right: 1px solid hsl(0, 0%, 86%);
}

.has-negative-bottom-margin {
    margin-bottom: -80px;
}

.has-heavy-underline {
    padding-bottom: 10px;
    border-bottom: 3px solid #454545;
    margin-bottom: 25px;
}

.text-uppercase {
    text-transform: uppercase;
}

.forced-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.c-testimonial {
    max-width: 50rem;
    margin: 0 auto;
    text-align: left;
    border: none;
    font-size: 1.618rem;
    line-height: 1.618;
}

.c-testimonial__logo {
    left: -10px;
    padding: .75rem;
    border: 1px dashed hsl(0, 0%, 86%);
}

.c-testimonial-boxed {
    padding: 3.2rem;
    border-radius: 1.4rem;
    background: hsl(208, 71%, 96%);
}

.c-testimonial-boxed.as-frame {
    background-color: hsl(0, 100%, 100%);
    box-shadow: 0 5px 10px 0 hsla(0, 0%, 0%, .15), inset 0 0 0 1px hsla(0, 0%, 0%, .08);
}

.c-testimonial-wide {
    max-width: 90%;
    padding: 1rem;
}

.c-testimonial-blank {
    background: none;
}

.c-testimonial-boxed.is-inverted {
    color: hsl(255, 0%, 22%);
}

.c-testimonial-boxed .c-testimonial__picture {
    float: left;
    margin-right: 1.5rem;
    margin-top: .5rem
}

.c-testimonial-boxed.c-testimonial-wide .c-testimonial__picture {
    margin-top: 0;
    float: right;
    margin-left: 1.5rem;
    margin-right: 0;
}

.c-testimonial__quote {
    color: #333;
}

.c-testimonial__quote:before {
    content: '“';
}

.c-testimonial__quote:after {
    content: '”';
    left: 2px;
}

.c-testimonial__cite,
.c--testimonial-postcard__cite {
    font-style: normal;
    color: #333;
}

.c-testimonial__picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow: inset 0 1px 5px 1px hsla(0, 0%, 0%, .15);
    background-size: cover;
    background-position: center center;
}

.align-middle {
    vertical-align: middle;
}

.glyphicon-2x {
    font-size: 22px;
}