@charset 'UTF-8';

.pitch__submenu {
  display: inline-block;
  top: 6px;

  .dropdown-toggle {
    line-height: 1.25;

    &:hover {
      box-shadow: inset 0 0 0 1px palette(shadow, mid-dark);
    }

    &:focus,
    &:active {
      border-bottom: 0;
      outline: none;
      box-shadow: inset 0 0 0 1px palette(shadow, mid-dark);
    }
  }

  .pitch__submenu-caret {
    bottom: 2px;
    font-size: size(type, sm);
  }

  .dropdown-menu {
    min-width: 175px;
    border-radius: 4px 0 4px 4px;
    .fa { margin-right: 3px; }
    .dropdown-header:hover { background: transparent; }

    > li > div {
      padding: 14px;
      font-size: 1.6rem;     
    }
  }

  + .pitch__submenu {
    margin-left: 1.618rem;
  }
}
