@charset 'UTF-8';

.pitch__title {
  max-width: 100%;
  margin-bottom: 1.5rem;
  padding-left: .5rem;
  font-family: font(sans, with-icons);
  font-size: size(type, xxl);

  &:focus,
  &:hover {
    border: 0;
    outline: 1px dashed palette(grey, dark);
    background-color: palette(lightyellow);
    box-shadow: none;
  }

  @media screen and (max-width: $smartphones) {
    font-size: size(type, md);
  }
}
