@charset "UTF-8";
#pitch__selector{

  li{
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
    vertical-align: middle;
    &:hover{
      background-color: #f5f5f5;
    }
  }

  .divider{
   padding: 0;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }

  li[data-pitch-id].selected{
    background: #f5f5f5;
    color: #333;
  }

  li[data-pitch-id]:hover .deletePitch{
    display: block !important;
    visibility: visible !important;
    //padding : 5px;
    cursor: pointer;
  }
}

.logged-in {
  .hero-statement-container {
    padding-bottom: 2rem;
    h1 { margin-top: 0; }
  }
}

.hello-bar {
  display: block;
  z-index: 100;
  padding: 1rem;
  margin-top: -45px;
  background-color: #e74c3c;
  color: ghostwhite;
  text-align: center;
  transition: .28s ease-in-out;
  animation: reveal .28s 1.5s forwards;
  &:hover {
    background-color: darken(#e74c3c, 2%);
    color: ghostwhite;
    text-decoration: none;
    span {
      transition: .28s ease-in-out;
      margin-left: 15px;
    }
  }
}

@-moz-document url-prefix() {
  .hello-bar {
    margin-top: 0px;
    animation: none;
  }
}

@keyframes reveal {
  to { margin-top: 0px; }
}

/* Sortable */
.sortable-placeholder {
  border: 2px dashed gainsboro;
  min-height: 150px;
}


/* Bootstrap Select */
[data-label] {
  &:before {
    content: attr(data-label);
    position: absolute;
    bottom: 35px;
    left: -35px;
    width: 200px;
  }
}

#time-container .bootstrap-select {
  width: 145px;
}

#select_pitches_container .bootstrap-select {
  width: 195px;
}

#cookiesdirective { max-width: 120px; bottom: 0 !important; font-size: 11px; }

.close { z-index: 2; }


/*==========  Landing / Welcome Page  ==========*/
.hero-image {
  height: 350px;
}

.btn-pitcherific {
  margin-top: 3rem;
  background-color: $tertiary__color;
  border: 0;
  color: $secondary__color;
  border-bottom: 4px solid darken($tertiary__color,7%);

  transition: .28s;
  &:hover { background-color: lighten($tertiary__color, 5%); border-bottom: 4px solid darken($tertiary__color,7%); }
}

.hero-content {
  margin-top: 50px;

  p {
    color: #666;
    line-height: 1.618;

    & ~ h2 { margin-top: 3.218rem; }
  }

  blockquote { font-style: italic; color: #666; }
}


.has-wide-tooltip + .tooltip {
  width: 250px;
}

#template-information {
  cursor: pointer;
  width: 55px;
  text-align: center;
  line-height: 1.5;
}


.cookie{
  width: 100px;
}

.countdown-container { line-height: 1.8; font-size: 1.8rem; }
.settings-container { bottom: 5px; }

.options-container { margin-top: 105px; }

.instructions .instruction:nth-of-type(2) img { top: 15px; }

/* Flags */
.flags {
  top: -5px;
  left: 5px;
  z-index: 100;
}
