@charset 'UTF-8';

.accordion-trigger {
  display: none;

  &:checked ~ .list__sublist {
    height: 100%;
    opacity: 1;
  }

  &:not(:checked) ~ .accordion-trigger-label .fa-history {
    opacity: .65;
  }

  &:checked ~ .accordion-trigger-label .fa-history {
    opacity: 1;
  }
}