@charset 'UTF-8';

.c--audience-module-setting {
  top: 6px;
  padding: 6px 8px;
  border: 1px solid palette(grey, dark);
  border-radius: 6px;
  box-shadow: 0 2px 0 0 palette(shadow, mid-light);

  @media screen and (min-width: $tablets) {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 0;
  }
}

.c--audience-module-settings {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 72px;
  padding: 15px;
  transition: opacity transition(ease);
  background-color: palette(white);
  color: palette(black);
  box-shadow: 0 0 10px 0 palette(shadow, mid-dark);
  opacity: .95;
  z-index: 1000;

  &:hover { opacity: 1; }

  .list-inline li:not(:last-child) {
    margin-right: 1rem;
  }
}

.c--audience-module-settings__audience-selector {
  outline: none;
  background: palette(transparent);
  cursor: pointer;

  option {
    border: 0;
    background-color: palette(shadow, mid-dark);
  }
}

body:not(.logged-in) .c--audience-module-settings__audience-selector.has-floating-tip::after {
  content: 'Try an audience here';
  position: absolute;
  background-color: hsla(0,0%,0%,.65);
  color: white;
  padding: .9rem;
  display: block;
  right: -135px;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: .05rem;
  top: 6px;
  border-radius: 4px;
  animation: 480ms infinite alternate hover;
}

@keyframes hover {
  from { transform: translateX(-1px); }
  to { transform: translateX(5px); }
}

.c--audience-module-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: center 0%;
  z-index: -2;
}

.c--audience-module__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: palette(overlay, x-dark);
  z-index: 0;
}
