@charset 'UTF-8';

/* Choice Seperator Component
===================================================================
Component for splitting up two radio box choices.

Note: This needs to modularized further (BEM).
===================================================================
*/

.choice-separator {
  max-width: 90%;
  margin: 1rem auto;

  .choice-separator__choice {
    min-width: 150px;
    margin-bottom: 0;
    padding: 1.618rem;
    transition: background-color .28s ease-in-out;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 1.618rem;

    will-change: background-color;

    &:first-of-type {
      border-right: 0;
      border-radius: 6px 0 0 6px;
    }

    &:last-of-type {
      border-radius: 0 6px 6px 0;
    }

    &:hover {
      background-color: hsl(195, 53%, 95%);
    }

    .choice-separator__choice-subtext {
      font-size: 1.1rem;
    }
  }

  [type="radio"] {
    display: none;
    width: auto;

    &:checked + .choice-separator__choice {
      background-color: hsl(195, 53%, 79%);
      border-color: hsl(195, 53%, 79%);
      box-shadow: inset 0 0 0 3px hsl(0, 100%, 100%);
    }
  }


}
