@charset 'UTF-8';

#getReady {
  display: block;
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  width: 360px;
  margin: 0 auto;
  transform: translateY(-50%);
  color: palette(white);
  font-size: 200px;
  font-weight: 700;
  text-align: center;
  z-index: 1000;
  text-shadow: 0 7px 0 hsla(0,0%,0%,.5);
}
