@charset 'UTF-8';

.js-enable-dictation {
  position: absolute;
  top: -3px;
  right: -25px;
  transition:
    opacity 280ms ease-in-out,
    transform 280ms cubic-bezier(.87,-.41,.19,1);
  opacity: 0;
  z-index: 10;
  height: 38px;
  width: 38px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  box-shadow: 0px 3px 3px 0px hsla(0,0%,0%,.25);
  text-align: center;
  padding-top: 7px;
  border: 1px solid hsl(0, 0%, 86%);
  transform: translateY(0);
  visibility: hidden;

  &:hover { color: palette(blue); visibility: visible; }

  &:focus,
  &:active,
  &:focus:active { outline: none; }

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &.is-listening {
    animation: color-pulse 480ms infinite alternate;

    @keyframes color-pulse {
      from { color: silver; }
      to { color: palette(red); }
    }
  }

  &.was-triggered {
    transform: translateY(6px) scale(.92);
    color: palette(red);
  }
}
