@charset 'UTF-8';

.c-elevator-container {
  position: absolute;
  height: 101px;
  width: 92px;
  top: -33px;
  left: 18px;
  transition: transform 600ms cubic-bezier(.87,-.41,.19,1);
  z-index: 0;

  &.is-in {
    transform: translateY(-100px);
    cursor: pointer;
    &::before { color: hsla(0, 0%, 100%, 1); }
  }

  &:hover {
    .c-elevator__tip-container {
      opacity: .65;
    }
  }

  &::before {
    position: absolute;
    right: 0;
    left: 0;
    background-color: hsl(0, 0%, 17%);
    border-radius: 12px;
    top: -17px;
    display: block;
    height: 27px;
    width: 25px;
    margin: 0 auto;
    z-index: -1;
    color: hsla(0, 0%, 100%, 0);
    text-align: center;
    font-weight: 700;
    transition: color 280ms ease-in-out;
    transition-delay: 1250ms;
    content: attr(data-tip-number);
  }
}

.c-elevator {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  border: 5px solid hsl(0, 0%, 17%);
  border-bottom: 0;
  padding: 10px;
  background-color: hsl(0, 0%, 86%);
  font-weight: bold;
  z-index: -1;
  font-size: 11px;
  box-shadow: inset 0 0 0 2px hsla(0,0%,0%,.10);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    transition: transform 720ms cubic-bezier(.87,-.075,.19,1.075);
    transition-delay: 280ms;
    background-color: hsl(200, 3%, 17%);
  }

  &::after {
    left: auto;
    right: 0;
  }

  &.is-open {
    &::before {
      transform: translateX(-100%);
    }

    &::after {
      transform: translateX(100%);
    }
  }
}

.c-elevator__tip-container {
  display: inline-block;
  padding: 6px;
  background-color: hsl(0, 0%, 100%);
  transition: opacity transition(ease);
  box-shadow: -1px 1px 3px 1px hsla(0, 0%, 17%, .15);
  z-index: -1;
}