@charset 'UTF-8';

.c-feature-list {

  &__item {

    &-title {
      margin-top: size(type, lg);
      margin-bottom: size(type, md);
      font-size: size(type, md);
    }
  }

  &__media-container {
    margin-right: 22px;
    display: inline-block;
    float: left;
    width: 72px;
    height: 72px;
    border-radius: 50%;

    @media screen and (max-width: $smartphones) {
      display: block;
      float: none;
      margin: 0 auto;
      text-align: center;
      margin-bottom: size(type, lg);
    }
  }

  &__media-object {
    max-width: 64px;
  }

  .is-raised {
    padding: 3.2rem;
    border-radius: 8px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15), inset 0 0 0 1px rgba(0,0,0,.15);
  }
}

.c-feature-list .c-feature-list__media-object {
  max-width: 72px;
  position: absolute;
  top: -10px;
  right: -15px;
}