@charset 'UTF-8';

.c-flashcards {
  display: flex;
  position: fixed;
  top: 60vh;
  right: 15vw;
  bottom: 20vh;
  left: 15vw;
  align-items: center;
  justify-content: center;
  max-width: 56.5rem;
  min-height: 22rem;
  transform: translateZ(0) translateX(100vw) rotate(5deg);
  transition:
    transform transition(ease, slow),
    background-color transition(ease);
  background-color: hsla(0, 0%, 100%, .9);
  box-shadow: 0 2px 2px 0 palette(shadow, mid-dark);

  &:hover { background-color: hsla(0, 0%, 100%, 1); }

  @media screen and (max-width: $tablets) {
    top: 50%;
  }

  @media screen and (max-width: $smartphones) {
    min-height: 42rem;
  }

  &.in {
    transform: translateZ(0) translateX(0) rotate(0deg);
    z-index: 1000;

    @media screen and (max-width: $tablets) {
      transform: translateZ(0) translateX(0) translateY(-50%) rotate(0deg);
    }

  }

  &__close {
    top: 15px;
    right: 20px;
    transition: opacity transition(ease);
    z-index: 10;

    &:hover { opacity: 1; }
  }

  .c-flashcard {
    top: -15px;
    padding: 0 3.2rem;
    transition: .2s opacity linear;
    font-size: size(type, lg);

    &.in { opacity: 1; }

    @media screen and (max-width: $tablets) {
      font-size: size(type, md);
    }

    &__insight-container {
      max-height: 100px;
      overflow: auto;
    }

    &__insight {
      display: inline-block;
      padding-bottom: .5rem;
      color: palette(blue);
      font-size: size(type, md);

      &:hover {
        opacity: .75;
      }

      &[title=''][data-original-title=''] {
        display: none;
      }
    }
  }

  &__nav {
    padding: 1.75rem 2.5rem;
    z-index: 10;
  }

  &__nav-item { font-size: size(type); }
}
