@charset 'UTF-8';

.c-flyout {
  position: absolute;
  top: 45px;
  right: 0;
  width: 205px;
  padding: 1.5rem 1.10rem;
  border-radius: 8px;
  background-color: palette(white);
  box-shadow: 0 3px 1px 0 palette(shadow),
              inset 0 0 0 1px palette(shadow, mid-light);

  .c--audience-module-setting {
    display: block;
    top: 0;
    text-align: center;
  }

  li {
    display: block;
    margin-right: 0 !important;
  }

  li:not(:last-child) {
    margin-bottom: 1.618rem;
  }
}