@charset 'UTF-8';

.input {
  &--huge {
    font-size: size(type, xxxl);
  }
}

.input--inline {
  display: inline-block;
  width: auto;
}

form .form-group:last-of-type { margin-bottom: 0; }

.has--help-block + .help-block {
  color: palette(black);

  a {
    color: palette(blue);
    text-decoration: underline;
  }
}

.checkbox-container {
  font-size: 1.1rem;

  input[type="checkbox"] {
    top: 4px;
    margin-right: 3px;
    outline: none;
  }
}

input,
textarea {
  padding: $main_padding / 4;
  max-width: 100%;
  width: 100%;
  color: palette(black, light);
  border: 0;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px palette(shadow, mid-dark);
  }

  &.bare {
    background-color: palette(transparent);
  }
}

input.form-control.input-lg {
  font-weight: 400;
  font-size: 1.1em;
  padding: 14px 12px;
}