@charset 'UTF-8';

/* Friendly Reminder Component
===================================================================
Whenever the user has finished creating a pitch, or finished
training a pitch for the first time, we want to display a
little reminder about that we also offer pitch reviews.
===================================================================
*/

.friendly-reminder {
  position: absolute;
  top: -4.3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 28rem;
  text-align: center;
  display: inline-block;
  padding: $s__smaller;
  font-size: 1.218rem;
  border-radius: .4rem .4rem 0 0;
  box-shadow: inset 0 -4px 4px 0 rgba(0, 0, 0, .15);

  &--golden {
    background-color: palette(yellow);
  }

  &:hover {
    opacity: .75;
  }

  transition-property: opacity;
  transition-duration: .14s;
}
