@charset 'UTF-8';

.footer--global {
  padding-right: 3rem;
  padding-left: 3rem;
  font-size: size(type, sm);
  background-color: hsl(200, 3%, 17%);
  box-shadow: inset 0 6px 0 0 hsl(200, 3%, 30%);

  .c-logo {
    color: white;
    font-weight: 700;
    margin: 1rem 0;
  }

  .footer-menu-heading {
    margin-bottom: 1.5rem;
    color: palette(white, mid-dark);
    font-weight: 700;
  }

  .link {
    display: block;
    margin-top: .75rem;
    color: white;
  }

  .h3 {
    font-size: 1.618rem;
  }


}

.has--bended-shadow {
  overflow: hidden;

  &::before {
    position: absolute;
    right: 0;
    bottom: -125px;
    left: -22vw;
    width: 140vw;
    height: 170px;
    border-radius: 50%;
    background-color: palette(grey);
    box-shadow: inset 0 10px 15px 0 palette(shadow, ultra-light);
    content: '';
    z-index: 10;
  }
}

.footer-nav {
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    border-left: 1px solid palette(grey, dark);
  }

  .link:not(last-child) { margin-left: 1.5rem; }

}