@charset 'UTF-8';

.hero-container {
  padding: 3rem 0 3rem;
  max-width: 114rem;
  margin: 0 auto;

  @media screen and (max-width: $smartphones) {
    padding: 3rem 0 3rem;

    .h0 {
      font-size: size(type, xl);
    }

    .button--xl {
      font-size: size(type, md);
    }
  }
}

.hero {
  &__payoff {
    max-width: 50rem;
    margin: 2rem 0;
    font-size: 2.35rem;
    font-weight: 600;
    // text-shadow: 0 2px 2px hsla(0, 0%, 0%, .55);

    @media screen and (max-width: $smartphones) {
      font-size: size(type, md);
    }
  }

  &__cite {
    font-size: size(type, xs);
  }
}

.btn.btn-cta {
  margin: auto .75rem;
  padding: 1.1rem 1.4rem;
  transition: transform transition(ease, quick);
  background-color: palette(white);
  color: palette(black, light);
  font-size: size(type);
  font-weight: 700;
  text-shadow: none;
  box-shadow: 0 4px 0 0 #c6c6c6;

  &:hover,
  &:active {
    transform: translateY(1px);
  }

  .fa {
    margin-left: .5rem;
  }

  &.is-emphasized {
    background-color: hsl(48, 98%, 50%);
    box-shadow: 0 2px 0 0 hsl(48, 98%, 35%);
    color: hsl(16, 25%, 38%);
  }
}

.btn.btn-cta {
  background-color: palette(green);
  color: palette(white);
  font-size: size(type);
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 0 0 palette(green, dark);
}

.btn.btn-ghost {
  font-size: size(type);
  padding: 10px 18px;
  border: 3px solid white;
  transition: transform 280ms ease;
  background-color: palette(overlay, base-mid-dark);

  &:hover,
  &:focus,
  &:active { color: white; }

  &:hover {
    transform: translateY(1px);
  }
}

.c-header-copyright {
  position: absolute;
  right: 7px;
  bottom: 7px;
  font-size: size(type, xxs);
}