@charset 'UTF-8';

/* Info Table Component
===================================================================
Two-split table for presenting legal information in both both
legal form and plain english form.

Note: This needs to be modularized further(BEM)
===================================================================
*/

.info-table {
  $border: 1px solid palette(grey, dark);

  th,
	td { padding: $s__baseline; }

  thead {
    border: $border;
    th:last-child { border-left: $border; }
	}

  tbody {
    border: $border;
    border-top: 0;
    line-height: 1.618;

    tr td {
      width: 50%;
      vertical-align: top;

      &:first-child {
        font-family: monospace;
        font-size: 1.1rem;
      }

      &:last-child {
        border-left: $border;
      }
    }

    tr + tr { border-top: $border; }
	}

  a { color: palette(yellow); }

}
