@charset 'UTF-8';

/* Item Bar Component
===================================================================
Aimed to be used as a general component for elements that are
aligned inline, from left to right. This can be a navigation bar
with navigation items, a settings area with dropdowns and similar.
===================================================================
*/

.item-bar {

  @include element('item') {
    display: inline-block;
    padding: $s__baseline;
    vertical-align: top;

    &.de-padded {
      &--left { padding-left: 0; }
      &--top { padding-top: 0; }
		}

    &:empty {
      padding: 0;
		}

    @media screen and (max-width: $tablets) {
      & {
        padding: 1.5rem;
			}
		}
	}

  @include modifier('slimmed') {
    .item-bar__item {
      padding-right: $s__tiniest;
		}

    @media screen and (max-width: $tablets) {
      .item-bar__item {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 0;
			}
		}
	}

} /// item-bar


.in-tour-mode .c-nav.is-fixed {
  position: absolute;
}