@charset 'UTF-8';

/* Language Switcher Component
===================================================================
Handles the styles for our language switcher component, which
uses a sprite generated from http://instantsprite.com/ to
keep things neat and optimized.
===================================================================
*/

.c-language-switcher__container {
  display: inline-block;
  width: 155px;
}

.c-language-switcher {
  width: 100%;
  padding-top: 4px;
  padding-left: 25px;
  color: palette(black, x-light);
  box-shadow: none;

  appearance: none;

  &:focus,
  &:active,
  &:focus:active, {
    outline: none;
  }

  &__icon,
  &__caret {
    z-index: 1;

    pointer-events: none;
  }

  &__icon {
    top: 7px;
    color: palette(black, x-light);
    font-size: size(type, md);
  }

  &__caret {
    top: 9px;
  }

  &::-ms-expand {
    display: none;
  }
}

.c-language-switcher--slim {

  .c-switcher {
    line-height: 1.25;
    -moz-appearance: initial;
    -webkit-appearance: initial;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
      option { color: #333; }
    }
  }
}