@charset 'UTF-8';

.lazy-load-preloader {
  position: absolute;
  z-index: 10000;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
}