@charset 'UTF-8';

/*==========  Lists  ==========*/

.list {
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /**
   * List items in blocky lists are full-width
   * blocks that are meant to grab attention.
   */
  @include modifier('blocky') {

    ul {
      margin-bottom: $s__baseline;
    }

    li {
      width: 20%;
      min-height: 21rem;
      padding: $s__smaller;
      float: left;

      h4 { margin-top: 0; text-transform: uppercase; }
      h5 { margin-bottom: $s__largest; }
      h4,
      h5 { color: palette(white, dark); }

      p {
        color: palette(white, mid-dark) !important;
        font-size: size(type, xs) !important;
        font-weight: 700;
      }

      &:nth-child(1) { background-color: palette(accent, purple); }
      &:nth-child(2) { background-color: palette(accent, blue); }
      &:nth-child(3) { background-color: palette(accent, green); }
      &:nth-child(4) { background-color: palette(accent, navy); }
      &:nth-child(5) { background-color: palette(accent, red); }
      &:nth-child(6) { background-color: palette(yellow); }

      @media screen and (max-width : 736px) {
        width: 100%;
        min-height: 5rem;
      }

    }
  }

  &--choice-blocks {
    padding: 0;

    input[type="radio"] { display: none; }

    .list__item {
      width: 48%;
      float: left;

      &:first-of-type {
        margin-right: 2%;
      }

    }

    .choice-block {
      margin-bottom: 1rem;
      font-size: size(type, xs);
      font-weight: 400;

      label {
        padding: 2rem;
        transition: background-color transition(ease);
        border-radius: .4rem;
      }

      .choice-block__title {
        font-size: size(type, lg);
        font-weight: 700;
      }

      .choice-block__description {
        margin-top: 2rem;
        font-weight: 400;
      }

      .choice-block__meta {
        position: absolute;
        top: -2px;
        right: -2px;
        background-color: palette(yellow);
        padding: $s__smallest $s__smallest $s__smallest / 2;
        font-size: size(type, md);
        border-radius: 0 0 0 4px;

        .meta__discounted-price {
          font-size: size(type, lg);
          font-weight: 700;
        }

      }

      &:hover > label,
      input[type="radio"]:checked ~ label {
        background-color: palette(yellow);
        box-shadow: inset 0 0 0 3px palette(white);

        .choice-block__meta {
          background-color: palette(white);

          .meta__discounted-price {
            font-size: size(type, lg);
            font-weight: 700;
          }
        }

      }

      input[type="radio"]:checked ~ label {
        border: 2px dashed palette(brown);
      }
    }

    @media screen and (max-width: 568px) {
      .list__item {
        width: 100%;
        float: none;
      }

      .choice-block { margin-bottom: 3rem; }
    }

  }
}




.list-unstyled {
  > .list__item {
    > .title {
      transition: opacity transition(ease), background-color transition(ease);
    }

    &.selected > .title,
    &:hover > .title {
      opacity: .9;
    }
  }
}

.list__sublist {
  height: 0;
  padding-left: 5px;
  transition-duration: .28s;
  transition-property: height, opacity;
  list-style: none;
  opacity: 0;
  overflow: hidden;

  .list__item {
    transition: opacity transition(ease);
    font-size: size(type, xs);
    opacity: .85;

    will-change: opacity;

    &:last-child {
      padding-bottom: 0;
    }

    &:hover {
      opacity: 1;
    }

    .clickable { color: palette(black, light); }

  }

}