@charset 'UTF-8';

/*
|--------------------------------------------------------------------------
| Loader Component
|--------------------------------------------------------------------------
|
| The loader that appears when the pitch tool boots up.
|
*/

[data-component="contentLoader"] {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  color: palette(black, x-light);
  text-align: center;
  font-size: 1.836rem;
  font-weight: 700;
  z-index: 10;

  @media screen and (max-width: $smartphones) {
    max-width: 90%;
    margin: 0 auto;
  }

  &.loading::before {
    $loader-icon-size: 3.2rem;

    display: block;
    position: absolute;
    top: -48px;
    right: 0;
    left: 0;
    width: $loader-icon-size;
    height: $loader-icon-size;
    margin: 0 auto;
    transform: rotate(-90deg) translateZ(0);
    border-right: 1px solid palette(transparent);
    letter-spacing: -14px;
    line-height: 1;
    font-size: 4.6rem;
    text-indent: -100px;
    content: '║║';
    overflow: hidden;

    animation: teleprompt 2.28s infinite linear;
  }
}

@keyframes teleprompt {
  to {
    border-right-color: palette(transparent, slightly);
    text-indent: 100px;
    opacity: 0;
  }
}
