@charset 'UTF-8';

.login-form {
  width: 100%;
  margin: 0 auto;

  .form-control {
    height: auto;
    padding: 1rem;
    transition: background-color $transition__default;
    border: 1px solid #ccc;
    outline: none;
    line-height: 1.618;
    box-shadow: none;

    &:hover { background-color: #f8f8ff; }
    &:focus { outline: none; }

  }

  a {
    color: palette(blue);
  }
}

.form--stacked {
  input {
    padding: 1.5rem;

  }
}
