@charset 'UTF-8';

.c-text-manipulator {
  position: absolute;
  display: inline-block;
  border-radius: 5px;
  background-color: #333;
  background-image: linear-gradient(to bottom,hsla(60, 2%, 19%, 0.99),hsl(60, 1%, 15%));
  z-index: 100;
  transition: transform transition(ease, quick);
  transform: translateZ(0);

  &__item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: size(type, sm);
    transition: background-color transition(ease);
    overflow: hidden;
    font-weight: 700;
    text-shadow: 0 2px 0 hsla(0,0%,0%,.6);

    &:first-child { border-radius: 5px 0 0 5px; }
    &:last-child { border-radius: 0 5px 5px 0; }
  }

  &::after {
    $arrow-size: 15px;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -$arrow-size / 2;
    margin: 0 auto;
    width: $arrow-size;
    height: $arrow-size;
    background-color: #333;
    background-image: linear-gradient(to bottom,hsla(60, 2%, 19%, 0.99),hsl(60, 1%, 15%));
    transform: rotate(45deg);
    z-index: -1;
  }
}