@charset 'UTF-8';
$c-nav-height: 60px;
@mixin fixed-nav-cta() {
    background-color: palette(green);
    color: palette(white);
    box-shadow: none;
    font-weight: 700;
    &:hover {
        background-color: palette(green, light);
    }
}

@mixin fixed-nav-styles($position: fixed) {
    position: $position;
    .c-nav__item {
        transition: background-color transition(ease);
        opacity: 0.65;
        height: 42px;
        line-height: 42px;
        &:hover,
        &:active,
        &:focus {
            opacity: 1;
            color: palette(brown);
        }
        .c-logo path {
            fill: palette(brown);
        }
        &--cta {
            @include fixed-nav-cta();
        }
        .c-language-switcher--slim {
            color: inherit;
        }
        &.active {
            border-bottom: 2px solid palette(brown);
        }
    }
    @media screen and (min-width: $smartphones) {
        background-color: palette(white);
        box-shadow: 0 2px 15px 0 palette(shadow, mid-dark);
        .c-nav__item {
            color: palette(brown);
        }
    }
}

.c-tool-label {
    padding: 5px;
    background-color: #795649;
    color: white;
    font-weight: 700;
    font-family: 'Source Sans Pro';
    &::before {
      content: '';
      position: absolute;
      left: -6px;
      bottom: 5px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #795649;
      z-index: -1;
    }
  }

.c-nav {
    transition: transform transition(ease);
    &--logged-in {
        box-shadow: 0 2px 1px 0 hsla(60, 5%, 88%, 0.75);
    }
    .c-logo svg path {
        fill: palette(brown);
    }
    &__content {
        display: inline-block;
        &--brand {
            @media screen and (max-width: $smartphones) {
                display: block;
            }
        }
        &--action {
            float: right;
            @media screen and (max-width: $smartphones) {
                float: none;
            }
        }
        &--info {
            float: right;
            @media screen and (max-width: $smartphones) {
                display: none;
            }
        }
    }
    &__item {
        display: inline-block;
        height: $c-nav-height;
        padding: 0 16px;
        transition: opacity transition(ease);
        font-size: size(type);
        font-weight: 600;
        line-height: $c-nav-height;
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
        color: palette(brown);
        &:hover,
        &:active,
        &:focus {
            opacity: 1;
            color: palette(brown);
        }
        &:hover:not(.c-logo-container),
        &.active:not(.c-logo-container) {
            border-bottom: 5px solid palette(brown);
            &.pricing {
                border-bottom-color: palette(yellow);
            }
            &.business {
                border-bottom-color: $segment-business-color;
            }
            &.incubators {
                border-bottom-color: $segment-incubators-color;
            }
            &.education {
                border-bottom-color: $segment-education-color;
            }
            &.job {
                border-bottom-color: $segment-job-color;
            }
        }
        &:not(.c-logo-container) {
            opacity: 0.75;
        }

        &.dropdown-toggle {
            box-shadow: none;
        }        

        @media screen and (max-width: $smartphones) {
            display: block;
            text-align: left;
        }
    }
    &:not(.is-fixed) {
        .c-nav__item:hover {
            opacity: 1;
        }
    }
    &.is-fixed,
    &.is-single {
        @include fixed-nav-styles();
        background-color: palette(white);
        transform: translateY(-75px);
        animation: slideIn 320ms forwards;
        left: 0;
        right: 0;
        .c-logo svg path {
            fill: palette(brown) !important;
        }
        @keyframes slideIn {
            to {
                transform: translate(0);
            }
        }
        .c-nav__item {
            color: palette(brown);
            &.c-logo-container [class*="filter"] {
                filter: none;
            }
        }
        @media screen and (max-width: $smartphones) {
            position: absolute;
        }
    }
    &.is-single {
        @media screen and (max-width: $smartphones) {
            position: relative;
        }
    }
    .c-nav__item--cta {
        padding: 10px;
        border-radius: 6px;
        display: inline;
    }
    @media screen and (max-width: 920px) {
        .c-nav__content.c-nav__content--brand .c-nav__item:not(.c-responsive-menu-trigger) {
            display: inline-block;
        }
        &__item {
            padding: 0 11px;
            font-size: size(type);
        }
        &.is-open {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            background-color: palette(white);
            z-index: 1000;
            .c-nav__content {
                display: block;
                float: none !important;
                &--info {
                    margin-top: 1.206rem;
                }
                &--action {
                    @media screen and (max-width: $tablets) {
                        float: none;
                    }
                }
                &--info .c-nav__item,
                &--action .c-nav__item {
                    margin-top: 1.206rem;
                }
            }
            .c-language-switcher--slim {
                color: inherit;
            }
            .c-nav__item {
                display: block;
                color: palette(brown);
                font-size: size(type, lg);
                &--cta {
                    @include fixed-nav-cta();
                }
            }
            .c-responsive-menu-label {
                &::before {
                    content: attr(data-swap-text);
                }
            }
            .badge#premiumLabel {
                color: palette(brown);
            }
        }
    }
    @media screen and (max-width: $smartphones) {
        padding: 5px 15px;
        z-index: 10;
        ~.c-masthead {
            padding-top: 4rem;
        }
        &__content--action {
            display: none;
        }
    }
}

.c-responsive-menu-trigger {
    top: 6px;
    display: none;
    font-size: size(type, md);
    @media screen and (max-width: $smartphones) {
        display: inline-block;
    }
}

.c-responsive-menu-label {
    &::before {
        content: attr(data-label-text);
    }
}

.c-branded-enterprise-logo {
    display: inline-block;
    padding-left: 5px;
    border-left: 3px solid gainsboro;
    margin-left: 10px;
    background-position: center 5px;
    background-size: contain;
    width: 140px;
    height: 42px;
    vertical-align: middle;    
}

.c-nav.c-nav--logged-in {
    .c-nav__content--info {
        .c-nav__item.c-nav__item--dashboard-link {
            background-color: palette(yellow);
        }
    }   
}