@charset 'UTF-8';

/* Pitch Component
===================================================================
The entire application is structured around a pitch paper, so
this component focuses on the actual container for all the
other pitch-related components
===================================================================
*/

.pitch {

  @include modifier('container') {
    max-width: 76.8rem;
    min-height: 65rem;
    margin: 0 auto;
    padding: $s__larger $s__largest;

    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {
      max-width: 95%;
      margin-bottom: 1.5rem;
    }

    @media only screen
    and (max-width : 800px) {
      max-width: 100%;
      margin-bottom: 1.5rem;
    }

	}

  @include modifier('fat-container') {
    padding: 4rem 6rem;

    @media screen and (max-width: 568px) {
      padding: 2rem 4rem;
    }
  }

  @include modifier('paper') {
    transition: transform transition(ease, slow);
    background-color: palette(white);
    box-shadow: 0 36px 35px rgba(50,50,93,.1), 0 17px 15px rgba(0,0,0,.07);
    z-index: 1;
    margin-top: 2.5rem;
    margin-bottom: 12.5rem;

    &::after {
      $corner-width: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-width: 0 $corner-width $corner-width 0;
      border-style: solid;

      border-radius: 0;
      border-color: palette(white) palette(gray) palette(white) palette(white);

      box-shadow: -3px 4px 3px 0 palette(shadow, mid-light);
      content: '';
      z-index: 10;
    }

    @media screen and (max-width: 1024px) {
      &::after {
        border-width: 0 2rem 2rem 0;
      }
    }

    @media print {
      &::after {
        display: none;
      }
    }
	}

  &.is-master {
    .section__calculation { display: none; }
    .pitch__title[readonly] {
      background-color: palette(white);

      &:hover {
        border: none;
        background-color: palette(white);
      }
    }
  }

  .is-single-page {
    p {
      font-size: size(type, sm);
    }
  }
}

.is-single ~ .pitch.pitch--paper {
  max-width: 64rem;
  margin-top: 3rem;
  font-size: size(type, sm);
  line-height: 1.618;

  p {
    font-weight: 400;
  }

  &::after { display: none; }

}

body.in-tour-mode .pitch.pitch--paper {
  transform: translateY(0) !important;
}