@charset 'UTF-8';

.c-pitch-footer {
  position: fixed;
  transition: transform transition(ease),
              opacity transition(ease);
  z-index: 10;
  padding: .75rem 0;

  will-change: transform, opacity;

  &.is-out {
    transform: translateY(8rem);
    opacity: 0;
  }

  &__controls { top: 6px; }

  #countdown {
      transition: all 0.4s;
  }
  
  .enlarge {
      font-size: 24px;
  }
  
  .blink {
      animation: blinker 1s linear infinite;
  }
    
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
}


.in-tour-mode .c-pitch-footer,
.logged-in .c-pitch-footer {
  transform: translateY(0) !important;
  opacity: 1;
}

.is-teleprompter-mode {
  .c-pitch-footer {
    transform: translateY(0);
    opacity: 1;
  }
}
