@charset 'UTF-8';

/* Component: Pitch Instructions
===================================================================
When users are not logged in we have a visual instruction on
how Pitcherific works. This little thing handles all that.
===================================================================
*/

$ui-instructions-container-width: 50.5rem;
$ui-instructions-container-height: 24.75rem;
$ui-instruction-image-width: 90px;
$ui-instruction-image-height: 115px;

@media screen and (min-width: 768px) {
  body:not(.logged-in):not(.is-teleprompter-mode) {
    .c-pitch-instructions {
      position: absolute;
      right: 0;
      left: 0;
      width: $ui-instructions-container-width;
      border-radius: 6px;
      margin: 0 auto;
      margin-bottom: 0;
      background-color: palette(white);
      box-shadow: 0 8px 17px rgba(50,50,93,.1), 0 3px 7px rgba(0,0,0,.07);
      transition: transform .45s ease-in-out;
      z-index: 0;

      counter-reset: instructions-counter;

      overflow: hidden;

      &__title {
        position: absolute;
        right: 0;
        left: 0;
        padding: 1.2rem;
        font-weight: 600;
        z-index: 5;
        font-size: size(type, md);
      }

      &__instruction {
        background-color: palette(white);
        background-image: url('../img/pitcherific_icon_collected.svg');
        margin-left: auto;
        margin-right: auto;
        width: $ui-instruction-image-width;
        height: $ui-instruction-image-height;
        background-size: cover;
        top: 25px;
        vertical-align: bottom;
        counter-increment: instructions-counter;
        transition: transform 280ms ease;
        z-index: 10;

        &--write {
          background-position: -90px 0;
          animation: instructionsAppear .72s .75s ease-in-out forwards;
        }

        &--train {
          background-position: -180px 0;
          animation: instructionsAppear .72s 1s ease-in-out forwards;
        }

        &--share {
          background-position: -379px 0;
          animation: instructionsAppear .72s 1.25s ease-in-out forwards;
        }

        &:after {
          content: counter(instructions-counter);
          position: absolute;
          border: 3px solid hsl(0, 0%, 81%);
          border-radius: 50%;
          width: 32px;
          height: 32px;
          font-weight: 700;
          text-indent: -1px;
          bottom: -24px;
          left: 0;
          right: 0;
          margin: 0 auto;
          z-index: 10;
          background-color: hsl(0, 0%, 100%);
          line-height: 1.7;
          color: palette(black, light);
        }

        &-container {
          padding: 2.5rem 4.045rem 4.045rem;
          height: $ui-instructions-container-height;
          width: calc(100% / 3);
          float: left;

          &:hover .c-pitch-instructions__instruction {
            transform: translateY(-4px);
          }
          &:active .c-pitch-instructions__instruction {
            transform: translateY(-2px);
          }
        }
      }

      .close {
        position: absolute;
        top: 8px;
        right: 10px;
        cursor: pointer;
        z-index: 10;

        &:hover { opacity: 1; }
      }

      .instruction__subtext {
        display: inline-block;
        margin-top: 5px;
        padding-top: 7px;
        color: hsl(0, 0%, 33%);
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 5px;
      }

      &.is-visible {
        z-index: 1;
        margin-bottom: 3rem;
        transform: translateY(-90px);

        & + .pitch.pitch--paper {
          transform: translateY(180px);
          margin-bottom: 18rem;
        }
      }

      &.is-hidden {
        z-index: 1;
        transform: translateY(-125px);
        cursor: pointer;

        &:hover {
          transform: translateY(-132px);
          transition-duration: .14s;
        }

        .close { display: none; }

        & + .pitch.pitch--paper {
          transform: translateY(-105px);
          box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
          margin-bottom: -140px;

          &:after { display: none; }
        }
      }
    }
  }
}
