@charset 'UTF-8';

.c-feedback-list {
  &__entry {
    transition: transform 280ms ease-out, border-color 280ms ease;

    &:hover {
      transform: translateY(-3px);
    }
    &.in-focus,
    &:not(.in-focus):hover {
      border: 2px solid palette(blue);
    }

    &-remove {
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }
}

.c-video-feedback__controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
  opacity: 0;
  transition: 140ms ease-in-out;
  text-shadow: 0 2px 2px hsla(0, 0%, 0%, .65);
}

.c-video-feedback__container:hover .c-video-feedback__controls {
  opacity: 1;
  z-index: 10;
}
