@charset 'UTF-8';

/* Pitch Comment Component
===================================================================
Component that handles when a user that has been prompted
to give feedback to a pitch. These are popovers that appear
next to each pitch section.
===================================================================
*/

.c-pitch-comment__field {
  min-height: 11.5rem;
  margin-bottom: .75rem;
  font-size: 1.2rem;
}

.c-pitch-comment.popover.right > .arrow {
  top: 60px !important;
}
