@charset 'UTF-8';

/* Pitch Section Component
===================================================================
All pitches are made of individual pitch sections, which in
Pitcherifics case are considered a separate component. These
stylings are specific to those sections.
===================================================================
*/

@mixin visible-section-example() {
  top: -6px;
  height: auto;
  margin-bottom: 20px;
  transition: opacity transition(ease);
  font-size: size(type, sm);
  opacity: 1;
  overflow: visible;
  pointer-events: all;
}

@mixin hidden-section-example() {
  height: 0;
  font-size: 0;
  opacity: 0;

  pointer-events: none;
  overflow: hidden;
}

/* Sections */
.sections {
  width: 100%;
  margin: 0 auto;

  .section {
    margin: 0;
    padding: 0;
    list-style: none;

    &:not(:last-child) {
      margin-bottom: $main_margin;
    }

    .section__title {
      position: relative;
      max-width: 100%;
      color: palette(black, light);
      font-size: size(type);
      font-weight: 700;

      &[disabled] {
        -webkit-text-fill-color: palette(black, light) !important;
      }
    }

    .section__content {
      height: 10rem;
      min-height: 13rem;
      margin-top: $main_margin / 4;
      margin-bottom: $main_margin / 2;
      padding: 1.5rem;
      transition: margin-bottom transition(ease),
                  opacity transition(ease),
                  font-size transition(ease),
                  background-color transition(ease);
      border: 1px solid palette(transparent, minor);
      border-radius: 6px;
      background-color: palette(white);
      font-size: size(type);
      line-height: 1.618;
      box-shadow: inset 0 2px 3px palette(shadow, mid-light);
      z-index: 0;

      resize: none;

      &:hover {
        background-color: hsla(0, 0%, 0%, .05);
      }

      &:focus,
      &:hover:focus {
        background-color: palette(white);
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      }

      &:visited {
        background-color: palette(white);
      }

      ~ .section__example {
        @include hidden-section-example();

        a {
          border-bottom: 1px dotted;
          color: palette(blue);
        }

      } /// section example

      &:focus ~ .section__example,
      & ~ .section__example:hover {
        @include visible-section-example();
      }

      &[readonly] {
        padding: 0.55rem;
        border: 0;
        box-shadow: none;

        pointer-events: none;
      }

      &::placeholder {
        opacity: .5;
      }

      &:hover:focus::placeholder {
        opacity: 1;
      }

    } /// section content


    @media screen and (max-width: 568px) {
      .section__title {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        font-size: size(type, sm);
        text-align: left;
      }

      .section__calculation {
        top: 0;
        float: none !important;
        text-align: left;
      }

      .section__content {
        font-size: size(type, sm);
      }
    }
  }
}

.logged-in .sections {
  padding-bottom: 10rem;

  @media screen and (max-width: $smartphones) {
    padding-bottom: 6rem;
  }
}

.section:last-child .section__content:focus + .section__example {
  margin-bottom: 2rem;
}

.is-master {
  .sections .section .section__content {
    border: none;
    box-shadow: none;

    pointer-events: none;
  }
}

.in-writing-mode:not(.in-tour-mode) .pitch--section:not(.in-focus) {
  opacity: .75;
}

.in-tour-mode .section.introjs-showElement .section__content ~ .section__example {
  @include hidden-section-example();
}

.icon {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 1.206rem;
  border: 1px solid hsl(0, 0%, 86%);
  text-decoration: none;
}

.section__content:focus + .js-enable-dictation {
  opacity: 1;
  visibility: visible;
}
