@charset 'UTF-8';
.c-pricing-table {
  position: static;
  max-width: 115rem;
  margin: 4rem auto;
  margin-bottom: 2rem;
  @-moz-document url-prefix() {
    &.table-striped > tbody > tr,
    &.table-striped > tbody > tr > td {
      position: static;
    }
  }
  s {
    opacity: 0.5;
  }
  tbody > tr > td {
    // width: 33.3%;
    padding: 12px 5px;
    border: none;
    vertical-align: middle;
  }
  tbody > tr:last-of-type > td {
    padding-bottom: 15px;
  }
}

.c-pricing-table__prices {
  font-size: size(type, xxl);
  small {
    font-size: size(type, xxs);
  }
}

.c-pricing-table__header {
  font-size: size(type, xl);
  th {
    padding: 0px 30px !important;
    padding-top: 18px !important;
    border-bottom: none !important;
    font-weight: normal;
  }
}

.c-pricing-table__body {
  position: static;
  font-size: size(type, sm);
}

.c-pricing-table__item-description {
  font-size: size(type, sm);
}

.c-pricing-table__body .c-product-table__feature {
  font-size: size(type); // Feature the middle one
  $featured-border-style: 6px solid palette(yellow);
  $featured-shadow-style: 0 0 palette(shadow, mid-light);
  &:first-child {
    border-top: $featured-border-style !important;
  }
  .hightlight {
    background-color: palette(yellow);
  }
  td:first-child {
    border-left: 1px solid lighten($color: #ccc, $amount: 20%);
  }
  td:last-child {
    border-right: 1px solid lighten($color: #ccc, $amount: 20%);
  }
  &:nth-child(even) {
    background-color: ghostwhite;
  }
  td.is-included {
    text-align: center;
    &::before {
      margin-right: 15px;
      color: palette(black);
      font-family: font(icons);
      content: "\f00c";
    }
  }
  td.is-not-included {
    text-align: center;
    &::before {
      margin-right: 15px;
      color: palette(grey, x-dark);
      font-family: font(icons);
      content: "\f00d";
    }
  }
}
