@charset 'UTF-8';

.c-projector-screen {
  background-color: hsl(240, 100%, 99%);
  border-top: 10px solid hsl(0, 0%, 20%);
  border-bottom: 10px solid hsl(0, 0%, 20%);
  border-radius: 4px;
  box-shadow: 0 5px 6px 0 hsla(0,0%,0%,.25);
  margin-bottom: 8rem;

  &::after {
    content: url('../img/screen_legs.svg');
    width: 310px;
    height: 140px;
    transform: scale(.33) translateY(-115px);
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}