@charset 'UTF-8';

.c-radio-toggle {
  display: inline-block;
  min-width: 42px;
  margin: 0 5px;
  padding: 3px 3px;
  transition: background .28s ease-in-out;
  border-radius: 500px;
  line-height: 1.618;
  box-shadow: inset 0 0 3px 0px rgba(0,0,0,.15);
  height: 25px;
  bottom: 3px;

  &.is-active {
    .c-radio-toggle__knob { transform: translateX(18px); }
  }

  &__label {
    top: -4px;
    font-size: 1.412rem;
  }

  &__knob {
    bottom: 1px;
    height: 18px;
    width: 18px;
    display: inline-block;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    box-shadow: 1px 2px 2px 0 hsla(0,0%,0%,.25);
    transition: transform transition(ease);
  }
}
