@charset 'UTF-8';

/* Responsive Menu Component
===================================================================
To make navigating a little bit easier on devices with small
viewports, this aims to display a hamburger menu instead
of the regular mobile menu. Uses :checked logic.
===================================================================
*/

@media screen and (max-width: $tablets) {

  [for='responsive-menu-trigger'] {
    display: block;
    margin: 0;
    padding: 1.618rem;
    color: palette(brown);
    text-align: right;
    z-index: 9999;

    .fa {
      display: inline !important;
    }
  }

  input[name='responsive-menu-trigger']:checked {
    ~ .responsive-menu {
      display: block;
      top: 0;
      opacity: 1;
    }

    + [for="responsive-menu-trigger"] .responsive-menu__label {
      &::before { content: attr(data-swap-text); }
    }

    + [for="responsive-menu-trigger"] .fa {
      font-size: 0;

      &::before {
        font-family: font(icons);
        font-size: 1.618rem;
        content: '\f00d';
      }
    }
  }

  .responsive-menu {
    display: none;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    transition: opacity transition(ease), top transition(ease);
    background-color: palette(white);
    font-size: 1.618rem;
    opacity: 0;
    z-index: 9998;

    .item-bar__item {
      display: block;
      padding: 2.8rem;
    }

    .pull-right {
      float: none !important;
    }
  }

  .responsive-menu__label {
    text-transform: uppercase;
    &::before { content: attr(data-label-text); }
  }

}
