@charset 'UTF-8';

.c-screen-recorder-preview {
  $containerHeight: 410px;

  &__start-recording-overlay,
  &__container::before {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.2rem;
    height: $containerHeight;
    background-color: white;
    border: 3px dashed gainsboro;
    border-radius: 8px;
    transition: background-color 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
  }
  
  &__container {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: $containerHeight;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;      
      transition: opacity 480ms ease-in-out;
      pointer-events: none;
      opacity: 0;
    }
  }

  & .video {
    max-width: 100%; 
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .c-screen-recorder__stop-recording {
    top: 55px;
    display: none;
  }

  &--recording &__container {
    z-index: 999;
    &::before {
      content: attr(data-recording-label);
      opacity: 1;
      pointer-events: none;
    }

    .c-screen-recorder__stop-recording {
      display: block;
      z-index: 1000;
    }    

    .c-screen-recorder__on-air-icon {
      $size: 60px;
      top: 30px;
      right: 30px;
      width: $size;
      height: $size;
      z-index: 100;
      position: absolute;
      border-radius: 50%;
      background-color: palette(red);
      animation: record-pulse 1s infinite alternate;

      @keyframes record-pulse {
        from { opacity: 1; }
        to { opacity: 0; }
      }
      

    }
  }

  &--processing &__container {
    &::before {
      content: attr(data-processing-label);
      opacity: 1;
      pointer-events: none;
    }
  }
}

.c-screen-recorder-preview .c-recording-complete-modal__backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: hsla(0, 0%, 0%, .65);

  &.in {
    display: block;
    opacity: 1;
    transition: 250ms opacity ease-in-out;
    transition-delay: 250ms;    
  }
}

.c-screen-recorder-preview  .c-recording-complete-modal {
  display: none;
  top: 50%;
  left: 0;
  right: 0;
  position: fixed;
  transform: translateY(-50%);
  z-index: 1000;
  max-width: 880px;
  margin: 0 auto;
  padding: 1.4rem;
  background: ghostwhite;
  border: 1px solid gainsboro;
  border-radius: 6px;

  &.in {
    display: block;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    transition-delay: 250ms;
  }

  .c-modal__footer {
    margin-top: 7rem;
  }
}

.c-screen-recorder-preview__start-recording-overlay:hover {
  background-color: hsla(0, 0%, 0%, .012);
  .c-screen-recorder-preview__start-recording-overlay__illustration {
    transform: translateY(-15px);
  }
}

.c-screen-recorder-preview__start-recording-overlay__illustration {
  width: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  margin: 20px auto;
  transition: transform 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

