@charset 'UTF-8';

/* Section Calculation */
.section__calculation {
  position: relative;
  top: 7px;
  padding-right: $main_padding / 4;
  font-size: size(type, sm) * 1.1;
  font-weight: 700;

  .calculation__current-characters {

    &.safe,
    &.over {

      ~ .calculation__recommended-characters::after {
        position: relative;
        margin-left: 5px;
        float: right;
        font-family: font(icons);
        font-size: size(type, xs);
        line-height: 2;
        content: '\f111';
      }
    }

    &.safe  ~ .calculation__recommended-characters::after {
      color: palette(green);
    }

    &.over  ~ .calculation__recommended-characters::after {
      color: palette(yellow);

      animation: .1s cubic-bezier(.68, -.55, .27, 1.55) 0s alternate none 3 running miniBounce;
    }
  }
}
