@charset 'UTF-8';

.select.select-link {
  display: inline-block;
  position: absolute;
  top: 0;
  width: auto;
  height: auto;
  padding: 0 0 2px;
  border: 0;
  background: 0 0;
  color: palette(blue);
  font-size: size(type, xs);
  line-height: 1;
  box-shadow: none;
}
