@charset 'UTF-8';

.c-shared-in-use-marker {
  position: absolute;
  top: 11px;
  right: 5px;
  z-index: 100;
  padding: 3px 6px;
  font-size: 1.3rem;
  background-color: hsla(0,0%,0%,.1);
  border-radius: 4px;
  cursor: default;
  opacity: 0;

  transition: opacity 140ms ease-in-out;

  &.in { opacity: 1; }
}


/* Template:
  <div class="c-shared-in-use-marker in" title="<%= pitcherific.state.user.first_name ? pitcherific.state.user.first_name : pitcherific.state.user.username %> is writing in this field">
    <i class="fa fa-lock fa-sm"></i>
    <span class="c-shared-in-use-marker__name"><%= pitcherific.state.user.first_name ? pitcherific.state.user.first_name + ' ' + pitcherific.state.user.last_name : pitcherific.state.user.username %></span>
  </div>
*/