@charset 'UTF-8';

/* Sidebar Component
===================================================================
Component for displaying an off-canvas sidebar, both to the left
and to the right of the main viewport.
===================================================================
*/

$toolbox-width: 44rem;
.off-canvas-menu {
    position: fixed;
    right: 0;
    width: 100%;
    max-width: $toolbox-width;
    height: 100%;
    transform: translateX(-$toolbox-width);
    transition-duration: .50s;
    background-color: palette(grey);
    color: palette(black, light);
    z-index: 1002;
    &.in {
        transform: translateX(0%);
    }
    #closeToolbox {
        display: none;
        position: absolute;
        top: 22px;
        left: -43px;
        cursor: pointer;
        padding: 1.2rem;
        background-color: palette(grey, dark);
        text-align: center;
        border-radius: 4px 0 0 4px;
        text-indent: 1px;
        @media screen and (max-width: $smartphones) {
            top: 0;
            right: 0;
            left: auto;
            background-color: transparent;
            z-index: 10;
        }
    }
    &.in #closeToolbox {
        display: block;
        i {
            opacity: .75;
        }
        &:hover i {
            opacity: 1;
        }
    }
    h3 {
        margin-bottom: 1.5rem;
        font-size: size(type, lg);
    }
    h3,
    h4 {
        color: palette(black, light);
    }
    h4 {
        margin: 0;
    }
    p {
        font-size: size(type, sm);
        opacity: .80;
    }
    ul {
        .list__item {
            padding: 20px;
            padding-top: 8px;
            font-size: size(type, sm);
            &:not(:last-child) {
                box-shadow: 0 1px 0 0 rgba(255, 255, 255, .10), inset 0 -1px 0 0 rgba(0, 0, 0, .15);
            }
            &--full-height {
                padding: 15px 15px 15px 35px;
            }
            .list__item-controls {
                .list__item-control {
                    margin: auto 3px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .c-toolbox-tools-list {
        height: 100%;
        max-height: 100%;
        padding-bottom: 105px;
        

        .template-title {
                        display: flex;
                        align-items: center;
                    }
    }
    hr {
        border-color: palette(grey, dark)
    }
}

.toolbox-header {
    padding: 12px 16px;
    // background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .06);
    &.has-extra-top-padding {
        padding-top: 16px;
    }
    h3 {
        margin-top: 10px;
    }
    @media screen and (max-width: $smartphones) {
        font-size: size(type, sm);
        h3 {
            font-size: size(type, md);
        }
    }
}

.c-sidebar__tool-label {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 15px;
    background-color: palette(brown);
    color: palette(white);
    font-size: 1.618rem;
    font-weight: 700;
    font-family: 'Source Sans Pro';
    border-bottom: 1px solid gainsboro;
}

#closeSidebar {
    top: -56px;
    color: white;
}

.sidebar-trigger,
.feedbackbar-trigger,
.questions-pane-trigger {
    ~label {
        position: fixed;
        top: 190px;
        width: 64px;
        padding: 1rem;
        transition: transform 300ms ease-in-out, background-color transition(ease);
        border-radius: 0 4px 4px 0;
        line-height: 1;
        text-align: center;
        box-shadow: 2px 3px 5px 0 palette(shadow, mid-light);
        z-index: 1000;
        transform: translateX(-2px);
        &.right {
            transform: translateX(2px);
        }
        &:hover {
            transform: translateX(0);
        }
        @media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
            top: 75px;
        }
    }
    &:checked,
    &.is-checked {
        ~.sidebar {
            transform: translateX(0);
        }
        ~.sidebar.off-canvas-menu--right {
            box-shadow: 0px 0 17px rgba(50, 50, 93, .05), -3px 0 7px rgba(0, 0, 0, .07);
        }
        ~.sidebar.off-canvas-menu--left {
            box-shadow: 0px 0 17px rgba(50, 50, 93, .05), 3px 0 7px rgba(0, 0, 0, .07);
        }
        ~label.sticks {
            transform: translateX($toolbox-width - 4rem);
            &:hover {
                transform: translateX($toolbox-width);
            }
        }
        ~label.right.sticks {
            transform: translateX(-$toolbox-width + 4rem);
            &:hover {
                transform: translateX(-$toolbox-width);
            }
        }
    }
    &__icon {
        top: 5px;
        font-size: size(type, xl);
    }
    &__label {
        display: block;
        margin-top: 10px;
        font-size: .9rem;
        letter-spacing: .05rem;
        line-height: 1.412;
        text-transform: uppercase;
    }
}

#toolbox.off-canvas-menu--right.in {
    box-shadow: 0px 0 17px rgba(50, 50, 93, .05), -3px 0 7px rgba(0, 0, 0, .07);
}

.questions-pane-trigger~label {
    top: 390px;
}

.feedbackbar-trigger~label {
    top: 290px;
}

.feedback-pane-trigger~label {
    top: 190px;
    right: 0;
    border-radius: 4px 0 0 4px;
}

.sidebar {
    height: 100%;
    .sidebar-user-greeting {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .name-edit {
            display: inline-block;
            top: 1px;
            width: 78%;
            min-width: 2rem;
            background: none;
            margin-right: 3rem;
            &:focus,
            &:hover {
                border-bottom: 1px dashed #888;
                box-shadow: none;
            }
        }
    }
    .c-pitches-list {
        &__container {
            border-top: 1px solid silver;
        }
        height: 100%;
        padding-bottom: 10rem;
        &__item {
            font-weight: 600;
            transition: 140ms ease-in-out;
            .title {
                display: inline-block;
                padding: 6px 8px;
                border-radius: 6px;
            }
            &.is-highlighted,
            &:hover {
                background-color: hsla(250, 100%, 100%, .75);
            }
        }
    }

    .c-pitches-list__item--active {
        background-color: hsla(250, 100%, 100%, .75);
    }

    &__link {
        display: block;
        padding: 4px 0;
        color: palette(black, light);
        font-size: size(type);
        font-weight: 600;
        vertical-align: bottom;
        .fa {
            margin-right: .75rem;
        }
        &:hover,
        &:active,
        &:focus {
            color: palette(black, light);
        }
        &:hover {
            text-decoration: underline;
            .fa {
                text-decoration: none;
            }
        }
        +.sidebar__link {
            margin-top: 1rem;
        }
    }
}

.sidebar,
.off-canvas-menu {
    &--left {
        left: 0;
        transform: translateX(-$toolbox-width);
    }
    &--right {
        right: 0;
        transform: translateX($toolbox-width);
    }
    &--in {
        right: 0;
        transform: translateX(0);
    }
}

@media screen and (max-width: $smartphones) {
    .sidebar-trigger,
    .feedbackbar-trigger,
    .questions-pane-trigger {
        &:checked~label {
            transform: none !important;
        }
    }
    .feedbackbar-trigger~label,
    .sidebar-trigger~label,
    .questions-pane-trigger~label {
        position: absolute;
        top: 7px;
        background: transparent;
        color: palette(brown);
        box-shadow: none;
        &:hover {
            background: transparent;
        }
    }
    .sidebar-trigger~label {
        left: 72px;
    }
    .feedback-pane-trigger~label {
        left: 142px;
    }
    .questions-pane-trigger~label {
        left: 195px;
    }
}

.c-workspaces {
    &__header {
        padding: 2rem;
    }
}

.fa-shared-folder {
    .fa-share-alt:before {
        font-size: 12px;
    }
}