@charset "UTF-8";

/* Social Sharing Component
===================================================================
Instead of relying on the very request heavy AddThis, we're going
to use a custom built social sharing component. These are its
stylings.
===================================================================
*/

.c-social-share {
  position: fixed;
  right: 0;
  top: 144px;

  a { display: block; }
}

.c-social-share__item,
.fa.c-social-share__item {
  display: block;
  padding: 15px;
  text-align: center;
  transition: background-color .28s ease-in-out;
  will-change: background-color;

  &.fa-linkedin {
    background-color: hsl(201, 100%, 35%);
    &:hover { background-color: darken(hsl(201, 100%, 35%), 5%); }
  }
  &.fa-facebook {
    background-color: hsl(221, 44%, 41%);
    &:hover { background-color: hsl(221, 44%, 35%); }
  }
  &.fa-twitter {
    background-color: hsl(206, 82%, 63%);
    &:hover { background-color: hsl(206, 82%, 55%); }
  }
  &.fa-reddit {
    background-color: hsl(210, 75%, 89%);
    color: hsl(0,0%,44%);
    &:hover { background-color: hsl(210, 75%, 84%); }
  }
  &.fa-print {
    background-color: hsl(0, 0%, 86%);
    color: hsl(0,0%,44%);
    &:hover { background-color: hsl(0, 0%, 81%); }
  }
}
