@charset 'UTF-8';

.is-teleprompter-mode {
  .pitch--paper {
    background: palette(transparent);

    &::after { display: none; }

    .sections {
      color: palette(white);
    }
  }

  .sections__wrapper {
    margin-top: 0;
  }
}
