@charset 'UTF-8';

.c--testimonial-postcard {
  max-width: 62rem;
  margin: 0 auto;
  padding: 3rem;

  @media screen and (max-width: $tablets) {
    margin: 0 2.5rem;
  }
}

.c--testimonial-postcard__image-container {
  margin-right: 3rem;
  margin-bottom: 21rem;

  @media screen and (max-width: 768px) {
    margin-bottom: 2rem;
  }
}

.c--testimonial-postcard__content {
  font-size: size(type, sm);
  line-height: 1.8;
  display: none;
  background-color: palette(white);
  border-radius: 10px;
  max-width: 62rem;
  min-height: 18rem;
  box-shadow: 0 5px 10px 0 hsla(0,0%,0%,.15), inset 0 0 0 1px hsla(0,0%,0%,.15);
  padding: 3.2rem;
  margin: 0 auto;
  transform: scale(.25);

  will-change: transform;

  @media screen and (max-width: $tablets) {
    padding: 2rem 2rem;
  }

  &.is-active {
    display: block;

    animation: pop-in .34s ease-in-out forwards;

    @keyframes pop-in {
      80% { transform: scale(1.025); }
      100% { transform: scale(1); }
    }
  }
}

.c--testimonial-postcard__cite {
  font-weight: 700;
  font-style: normal;
  a {
    color: palette(blue);
  }
}

.c--testimonial-postcard__image {
  display: inline-block;
  float: left;
  width: 110px;
  height: 110px;
  margin: 0rem 2rem 11rem 0rem;
  border-radius: 50%;
  opacity: 1;
  transition: transform transition(ease);
  transform-origin: center center;
  background-size: cover;
  box-shadow:
   0 5px 10px 0 hsla(0, 0%, 0%, 0.15),
   inset 0 0 0 1px hsla(0, 0%, 0%, 0.15);

  @media screen and (max-width: 678px) {
    margin: .75rem 2rem 1rem 0;
  }
}

.c--testimonial-postcards-toggler {
  box-shadow:
   0 2px 3px 0 hsla(0, 0%, 0%, 0.15),
   inset 0 0 0 1px hsla(0, 0%, 0%, 0.15);
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 205px;
  padding: 1.2rem;
  top: 10px;

  &:focus,
  &:active {
    outline: none;
  }
}
