@charset 'UTF-8';

/* Tweet Container Component
===================================================================
Handles display our social proof on the homepage
===================================================================
*/

.c-tweet-container {
  top: 20px;
  height: 20rem;
  text-align: center;
  opacity: 0;

  animation: fadeIn 500ms 500ms ease-in-out forwards;

  &__button {
    margin-top: 1.206rem;
  }
}

.c-tweets {
  height: 100%;
}

.c-tweet {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 358px;
  min-height: 15rem;
  margin: 0 auto;
  padding: 1.8rem;
  padding-bottom: 5.5rem;
  transition: opacity 500ms ease-in-out;
  border-width: 0;
  border-radius: 5px;
  background-color: palette(white);
  color: palette(black, light);
  font-family: font(sans);
  font-size: size(type, xs);
  font-weight: bold;
  line-height: 1.618;
  box-shadow: 0 2px 5px 0 palette(shadow, mid-light),
              inset 0 0 0 1px palette(shadow, mid-light);

  opacity: 0;
  z-index: 0;

  will-change: opacity;

  &.is-in {
    opacity: 1;
    z-index: 10;
  }

  &__image-container {
    position: absolute;
    right: 0;
    bottom: -22px;
    left: 0;
    width: 72px;
    margin: 0 auto;
    border: 4px solid palette(white);
    border-radius: 50%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__quote {
    font-size: size(type, sm);
    font-weight: normal;
    line-height: 20px;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }

  @media screen and (max-width: 440px) {
    width: auto;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
