@charset 'UTF-8';

/* Visual Feedback Component
===================================================================
This component handles displaying a simple video recording to our
PRO users, so they can record and replay their performance.
===================================================================
*/

.c-visual-feedback {
  position: fixed;
  right: 0;
  bottom: 100px;
  width: 260px;
  height: 195px;
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(.785, .135, .150, .860);
  border-radius: 4px 0 0;
  z-index: 1001;

  will-change: transform;

  &.is-open {
    transform: translateX(0%);
  }

  &__pause-icon {
    display: none;
    position: absolute;
    right: 13px;
    top: 16px;
  }
}

.c-visual-feedback__player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: palette(black);

  &:-webkit-full-screen {
    position: fixed;
    top: 0;
    width: 100%;
    background: none;
  }
}

.c-visual-feedback__controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.c-visual-feedback__trigger,
.c-visual-feedback__download,
.c-visual-feedback__upload,
 {
  position: absolute;
  left: -49px;
  padding: 15px;
  transition: background-color transition(ease);
  border-radius: 4px 0 0 4px;
  background-color: palette(white);
  font-size: 2rem;
  z-index: 1;

  &:hover {
    background-color: darken(white, 5%);
  }
}

.c-visual-feedback__download {
  top: 130px;
  transition: left transition(ease);
  z-index: 0;

  &.is-disabled {
    left: -5px;
  }
}

.c-visual-feedback__upload {
  top: 65px;
  transition: left transition(ease);
  z-index: 0;

  &.is-disabled {
    left: -5px;
  }
}

.c-visual-feedback__error {
  animation: fadein 2s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.is-disabled {
  cursor: not-allowed;
  opacity: .5;
}

// Fixes z-index issue with full-screen video in Chrome
.in-fullscreen-mode *:not(video) {
  display: inline;
  z-index: -1;
}
