@charset 'UTF-8';

.nav-dropdown {
  max-width: 380px;
  opacity: 0;
  transition: opacity transition(ease);
  position: absolute;

  &:not(.is-active) {
    display: none;
  }

  &.is-active,
  &:hover {
    display: block;
    opacity: 1;
  }

  &__arrow {
    $navArrowSize: 16px;
    top: 9px;
    width: $navArrowSize;
    height: $navArrowSize;
    background: white;
    margin: 0 auto;
    border-radius: 3px;
    transform: rotate(45deg);
    box-shadow: 0 -5px 15px rgba(0,0,0,.1);
  }

  &__container {
    padding: size(type);
    background: white;
    border-radius: 4px;
    box-shadow:
      0 50px 100px rgba(50,50,93,.1),
      0 15px 35px rgba(50,50,93,.15),
      0 5px 15px rgba(0,0,0,.1);
  }

  &__item {
    padding: size(type);
    transition:
      background-color transition(ease),
      opacity transition(ease);
    border-radius: 4px;
    font-size: size(type);

    .media-heading { font-size: size(type, md); font-weight: 600; }
    .media-object { max-width: 64px; }

    > a {
      display: block;
      text-decoration: none;
      color: palette(black);
    }

    &:hover {
      opacity: .75;
      background-color: ghostwhite;
    }

    &:not(:last-child) {
      margin-bottom: size(type);
    }
  }

  &--slim {
    .nav-dropdown__container .nav-dropdown__item {
      padding: 0;
    }
  }
}