
/* Admin Panel Styles
===================================================================
These CSS styles are isolated to the admin panel part of the app.
===================================================================
*/

html,
body {
  padding-top: 35px;
  background-color: #EFEBE9;
  font-family: "Source Sans Pro", sans-serif;
}

.brand-logo {
  font-family: "Pacifico", sans-serif;
  color: #795548;
  font-size: 20px;
  margin-right: 15px;
  top: 2px;
  position: relative;
}

.brand-logo-lg {
  display: block;
  font-size: 2.8rem;
  margin-bottom: 4rem;
}

.admin-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  color: hsl(0,0%,15%);
  height: auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
  z-index: 1000;
}

.admin-nav {}

.wrapper {
  max-width: 96rem;
  margin: 0 auto;
}

.wrapper-lg {
  max-width: 110rem;
  margin: 0 auto;
}

.wrapper-md-extra {
  max-width: 68rem;
  margin: 0 auto;
}

.wrapper-md {
  max-width: 60rem;
  margin: 0 auto;
}


label { display: block; }
label > input { margin-top: 5px; }

.admin-nav__items {
  margin: 0;
  padding: 0 20px;
}

.admin-nav__item {
  padding: 0;
  transition: background-color .28s ease-in-out;
}

.admin-nav__item:hover,
.admin-nav__item.is-active {
  padding-left: 5px;
  background-color: hsl(0,0%,97%);
  color: hsl(0,0%,15%);
}

.admin-nav__item a {
  padding: 20px;
  display: block;
  color: hsl(0,0%,50%);
  text-decoration: none;
}



.admin-content-area {
  height: 100vh;
  max-width: 920px;
  margin: 0 auto;
}


.admin-content-area .headline {
  margin-bottom: 2rem;
  padding-left: 18px;
}


.is--fixed-to-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}



// Bootstrap Overrides
.form-group + .form-group {
  margin-bottom: 15px;
}

textarea.form-control {
  padding: 1.25rem 1.35rem;
  min-height: 100px;
}

.panel {
  box-shadow: 0 2px 4px 2px hsla(0, 0%, 0%, 0.05);
}

.btn { font-weight: 700; }

.form-group label.has-checkbox input[type="checkbox"] {
  top: 2px;
}


/**
 * Handles showing inline validation for form inputs.
 * @type {[type]}
 */

.form-control-wrapper .form-control {
  padding-right: 25px;
}

.form-group.has-success .form-control-wrapper:after {
  content: "\f00c";
  font-family: "FontAwesome";
  position: absolute;
  top: 13px;
  right: 15px;
}

input[type="email"] {
  text-transform: lowercase;
}






.input-group { margin-top: .5rem; }

.panel-expandable {
  height: 250px;
  overflow: hidden;
  position: relative;
  transition: height .28s ease-in-out;
}

.panel-body.has-min-height { min-height: 150px; }

.panel:hover .panel-expandable {
  height: 100%;
}

.panel-heading-lg { padding: 15px; }

.panel-expandable:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  width: 100%;
  box-shadow: 0 -20px 20px 0 rgba(255,255,255,.85);
  background-color: rgba(255,255,255,.85);
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.panel-md {
  max-width: 40rem;
}

.panel-centered {
  margin: 0 auto;
}

.label.label-lg {
  font-size: 90%;
}


/*
 * Button styles
 */
.btn.btn-area {
  width: 100%;
  padding: 40px;
  font-size: 20px;
  border: 3px dashed gainsboro;
  color: gainsboro;
  transition:
    background-color .28s ease-in-out,
    color .28s ease-in-out;
}

.btn-area:hover,
.btn-default.btn-area:active,
.btn-default.btn-area:focus {
  background-color: rgba(0,0,0,.05);
  color: #3b3b3b;
  outline: none;
  border: 3px dashed gainsboro;
}


/* Vendor overrides */

/* Multiselect */
.multiselect-container { top: 110%; }
.multiselect-container>li>a>label {
  padding: 5px 20px 3px 27px;
  font-size: 12px;
}
.dropdown-menu>li>a { line-height: 1.9; }

.panel-title .pagination { top: -6px; position: relative; }

.alert-from-top {
  position: fixed;
  top: -55px;
  z-index: 1000;
  left: 0;
  right: 0;
  border-radius: 0;
  animation:
    appear-top 1 4s ease-in-out alternate;
}

@keyframes appear-top {
  0% { top: -55px; }
  25% { top: 0px; }
  85% { top: 0px; }
  100% { top: -55px  }
}

.table { margin-bottom: 0; }
.table + .table { margin-top: 2rem; }

.table.table-centered-vertically>tbody>tr>td {
  vertical-align: middle;
}

.table.table-opaque {
  background-color: white;
}

.table.table-opaque>thead>tr>th {
  background-color: ghostwhite;
}

.table-bordered>tbody>tr>td,
.table-bordered>thead>tr>th {
  border: none;
}

.table.table-extra-padded>tbody>tr>td {
  padding: 15px;
}




/**
 * Pagination
 */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: hsl(16, 25%, 38%);
  border-color: hsl(16, 25%, 38%);
}

.pagination>li>a,
.pagination>li>span {
  border: 0;
  color: hsl(16, 25%, 38%);
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: hsl(16, 25%, 38%);
  background-color: ghostwhite;
}

label+.pagination {
  margin-top: 5px;
}

/**
 * Button Group
 */
.btn-group-lifted,
.btn-lifted {
  bottom: 9px;
}


/**
 * Accordion
 */
.btn-collapse-toggle {
  display: block;
  padding: 1rem 1.2rem;
  text-align: left;
  background-color: hsl(215, 89%, 96%);
}

.btn-collapse-toggle:focus {
  background-color: hsl(215, 89%, 96%);
  border-color: gainsboro;
}

.btn-collapse-toggle:active,
.btn-collapse-toggle:hover {
  background-color: hsl(215, 89%, 94%);
  border-color: gainsboro;
}

.btn-collapse-toggle:after {
  content: "\f078";
  position: absolute;
  right: 15px;
  font-family: "FontAwesome";

}

.btn-collapse-toggle:not(.collapsed) {
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}


.btn-collapse-toggle.collapsed:after {
  content: "\f077";
}

.btn-collapse-toggle + .collapse {
  padding: 2rem;
  border: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
}

/**
 * Chosen Overrides
 */
.chosen-container-multi .chosen-choices {
  padding: 5px;
  border-radius: 4px;
}

.chosen-container.chosen-container-multi {
  min-width: 100%;
}


/**
 * Validator Overrides
 */
input.error + .error,
textarea.error + .error {
  padding: 8px;
}


/* Helpers */
.pushed-down-slightly {
  top: 12px;
}
.hr.hr-dark { border-top: 1px solid hsl(0,0%,85%); }
.hr.hr-dashed { border-style: dashed;  }
.no-margin { margin: auto; }
.padded-tb-md { padding: 2rem 0;  }
.padded-lr-md { padding: 0 2rem; }
.padded-t-xs { padding-top: .5rem; }
.padded-allround-md { padding: 2rem; }
.padded-allround-lg { padding: 3.6rem; }
.padded-no-top { padding-top: 0; }
.padded-no-bottom { padding-bottom: 0; }
.margin-no-top { margin-top: 0; }
.margin-no-bottom { margin-bottom: 0; }
.margin-top-md { margin-top: 2.5rem; }
.margin-top-sm { margin-top: 1.5rem; }
.margin-top-lt { margin-top: .75rem; }
.margin-bottom-sm { margin-bottom: 1.5rem; }
.margin-bottom-lg { margin-bottom: 12rem; }
.is-unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.is-clickable { cursor: pointer; }

.is-disabled {
  cursor: not-allowed;
}

.is-disabled > * { pointer-events: none;  }

.does-auto-capitalize {
  text-transform: capitalize;
}


/**
 * Footer
 */
.footer.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 -4px 10px 0 hsla(255,100%,0%,.15);
}


.js-list-group-item:hover .js-template-section-drag-handle {
  opacity: 1;
}


body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    top: 15px;
    opacity: 0.75;
    z-index: 2000;
}

.sortable-placeholder {
    height: 65px;
    border: dashed lightgrey;
    border-radius: 5px;
    position: relative;
    top: 0;
    margin: 2rem auto;
    padding: 0;
    list-style-type: none;
}

.sortable-placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -20px;
    top: 22px;
    border: 8px solid transparent;
    border-left-color: hsl(120, 40%, 44%);
    border-right: none;
    border-radius: 4px;
}

.list-group-item {
  position: static !important
}

.sortable-dragging {
  display: block;
  transform: rotate(1.5deg);
}

.js-template-section-drag-handle:hover {
  cursor: -webkit-grab;
}