
/* Landing Page - Application Styles
===================================================================
These CSS styles are isolated to the Application landing page.
===================================================================
*/

.page--smarter-application-rounds .logo a,
.page--smarter-application-rounds .logo a:hover,
.page--smarter-application-rounds .logo a:visited { color: white; text-decoration: none; }

.section-hero__headline {
  font-weight: 600;
}

.section-hero__subheadline {
  text-transform: uppercase;
  font-weight: 600;
  opacity: .65;
  color: hsl(0,0%,100%);
  letter-spacing: 1px;
}


/*
 * Handles the individual sections of the landing
 * page.
 */
.section {
  
}

.section.section--primary {
  padding: 50px;
  color: white;
  background-image: url('../../img/header_repeating_bg.png');
  background-size: 400px 400px;
  background-color: #795548;  
}

.section.section--secondary {
  z-index: 1;
}

.section.section--secondary .section-hero__subheadline {
  color: hsl(0,0%,33%);
}

.section.section--tertiary {
  color: hsl(0, 0%, 100%);
  background-color: hsl(204, 70%, 53%);
}


.section.section--quaternary {
  color: hsl(0,0%,33%);
  background-color: hsl(20, 16%, 93%);
}

.section.section.section--quaternary .section-hero__subheadline {
  color: hsl(0,0%,33%);
}

/**
 * Handles display all the sprites used on the site
 */
.has-sprite {
  background: url('../../img/landing/application/landing_application_sprite.png') no-repeat top left;
}

.has-sprite.has-sprite--arm {
  margin: 25px auto 0 auto;
  background-position: 0 -1543px; width: 109px; height: 370px;
}

.has-sprite.has-sprite--ocean {
  margin: 0 auto;
  left: -25px;
  right: 0;
  position: absolute;
  bottom: -185px;
  background-position: 0 -92px; width: 1550px; height: 447px;
}

@media screen and (max-width: 960px) {
  .has-sprite.has-sprite--ocean { left: -175px; }
}
@media screen and (min-width: 1400px) {
  .has-sprite.has-sprite--ocean { left: 0px; }
}


.has-sprite.has-sprite--divided-ocean-left,
.has-sprite.has-sprite--divided-ocean-right {
  position: absolute;
  bottom: -120px;
}

.has-sprite.has-sprite--selected {
  background-position: 0 -549px; width: 327px; height: 221px;
}

.has-sprite.has-sprite--divided-ocean-left {
  left: -635px;
  background-position: 0 -1165px; width: 1005px; height: 368px;
}

.has-sprite.has-sprite--divided-ocean-right {
  right: -675px;
  background-position: 0 -780px; width: 999px; height: 375px;
}

.logo-wall {
  display: block;
  width: 712px !important;
  height: auto !important;
  bottom: 75px;
  //background-position: 0 0; width: 1006px; height: 82px;
}

@media screen and (max-width: 960px) {
  .logo-wall { pointer-events: none; }
  .logo-wall ~ map > area,
  .logo-wall ~ map { 
    display: none;
    pointer-events: none; 
  }
}


/**
 * Phase Sprites
 */
.has-sprite.has-sprite--phase-one-stage-one {
  width: 814px; height: 511px;
  background-position: 0 -5044px;
}
.has-sprite.has-sprite--phase-one-stage-two {
  width: 814px; height: 511px;
  background-position: 0 -4004px;
}
.has-sprite.has-sprite--phase-one-stage-three {
  width: 814px; height: 511px;
  background-position: 0 -4524px;
}
.has-sprite.has-sprite--phase-two-stage-one {
  background-position: 0 -2965px; width: 814px; height: 511px;
}
.has-sprite.has-sprite--phase-two-stage-two {
  background: url('../../img/landing/application/phasetwo_stage_two.png');
  //background-position: 0 -1923px; width: 814px; height: 511px;
}
.has-sprite.has-sprite--phase-two-stage-three {
  background-position: 0 -2444px; width: 814px; height: 511px;
}
.has-sprite.has-sprite--phase-three-stage-one {
  background-position: 0 -3486px; width: 816px; height: 508px;
}

/**
 * Feature Walkthrough Component
 */

.c-features-walkthrough {

  counter-reset: features-counter;

}

.c-features-walkthrough__feature {

  counter-increment: features-counter;

}

.c-features-walkthrough__feature:before {

  content: counter(features-counter);
  display: block;
  top: -65px;
  border: 3px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  line-height: 2;
  font-weight: 700;
  background-color: white;
  z-index: 1;

}

.c-features-walkthrough__feature:after {
  content: "";
  position: absolute;
  top: -105px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 3px;
  height: 106px;
  background-color: hsl(0, 0%, 33%);
}

.c-features-walkthrough__feature.first-feature:after {
  top: -65px;
  height: 65px;
}

.c-features-walkthrough__feature-description {
  background-color: hsla(0,0%,0%,.4);
  color: hsl(0, 100%, 100%);
  padding: 15px;
  font-weight: 600;
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 8px;  
}

/**
 * Price Calculator Component
 */
.c-price-range-calculator {
  padding: 30px 50px;
  max-width: 675px;
  min-width: 368px;
  background-color: white;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
}

@media screen and ( max-width: 678px ) {
  .c-price-range-calculator {
    max-width: 95%;
    margin: 0 auto;
  }
}

/**
 * Bootstrap Overrides
 */
.btn.btn-success { background-color: hsl(94, 61%, 46%); }

.btn.btn-cta {
  padding: 10px 18px;
  background: transparent;
  color: hsl(16, 25%, 38%);
  font-weight: 600;
  border: 3px solid hsl(16, 25%, 38%);
  font-size: 22px;  
}

.btn-cta:active,
.btn-cta:focus { 
  outline: 0 !important;
  box-shadow: none; 
}

.btn.btn-rounded { 
  border-radius: 28px;

}

input {
  border: none;
}

/**
 * MailChimp style overrides
 */
#mc_embed_signup { 
  background: transparent !important; 
  font-family: "Source Sans Pro", sans-serif !important;  
}

#mc_embed_signup input { border: none !important; }

#mc_embed_signup form {
  max-width: 465px;
  margin: 0 auto;  
}

#mc_embed_signup #mce-success-response {
  color: hsl(0, 100%, 100%);
}
